<h2 mat-dialog-title>{{ 'AUTO.TRACABILITE_DE_L_OPERATION' | translate }}</h2>

<mat-dialog-content>
  <div class="traceability-info">
    <div class="info-row">
      <span class="label">{{ 'AUTO.OPERATION' | translate }}</span>
      <span class="value">{{ 'AUTO.OPERATION_SELECTIONNEE' | translate }}</span>
    </div>

    <div class="info-row">
      <span class="label">{{ 'AUTO.CUVE_SOURCE' | translate }}</span>
      <span class="value">{{ data.operation.source?.name }}</span>
    </div>
    <div class="info-row">
      <span class="label">{{ 'AUTO.CUVE_CIBLE' | translate }}</span>
      <span class="value">{{ data.operation.target?.name }}</span>
    </div>
    <div class="info-row">
      <span class="label">{{ 'AUTO.VOLUME_FILTRE' | translate }}</span>
      <span class="value">{{ data.operation.volumeFiltered | number }} L</span>
    </div>
    <div class="info-row" *ngIf="data.operation.volumeAfter">
      <span class="label">{{ 'AUTO.VOLUME_APRES' | translate }}</span>
      <span class="value">{{ data.operation.volumeAfter | number }} L</span>
    </div>
    <div class="info-row" *ngIf="data.operation.lossVolume">
      <span class="label">{{ 'AUTO.PERTES' | translate }}</span>
      <span class="value">{{ data.operation.lossVolume | number }} L ({{ data.operation.lossPercent | number }}%)</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>

