::ng-deep.widget-chart {
  .currency-dollar {
    background: var(--accent-200);
  }

  .chart-body {
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
    background: var(--accent-100);
  }

  .card-head {
    margin: 0px 10px;
  }

  .user-status {
    padding: 0.25em 0.9em;
  }

  .my-n4 {
    margin-top: -1.5rem !important;
    margin-bottom: -1.5rem !important;
  }

  .earning-text {
    margin: 0px 16px;
  }

  .overview-product-legends {
    border: 1px solid var(--accent-300);
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;

    p {
      position: relative;
      display: inline-flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: currentColor;
        margin-left: -10px;
      }

      span {
        color: var(--accent-600);
      }
    }
  }

  .income-value {
    background: var(--accent-200);
    padding: 16px;
    border-radius: 8px;

    .border-circle {
      border-radius: 50%;
    }
  }

  .list-group-flush {
    .list-group-item {
      padding: 16px 20px;
      display: block;
      color: inherit;
      border-top: 1px solid var(--accent-300);

      .avatar {
        border-radius: 50%;
      }
    }
  }

  .project-chart {
    .mat-mdc-tab-header {
      padding: 20px 20px 0px 19px;
      border-bottom: 1px solid var(--accent-300);
    }

    .mat-mdc-tab-body-wrapper {
      margin: 0px;
    }

    .project-body {
      .list-inline {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 0px;

        .list-inline-item {
          a {
            color: inherit;
          }

          .select-item {
            border-color: var(--accent-300);
            padding: 10px;
            border-radius: 8px;
          }

          &:not(:last-child) {
            margin-right: 0.5rem;

            ::ng-deep.able-pro-rtl & {
              margin-left: 0.5rem;
              margin-right: 0rem;
            }
          }
        }
      }

      .project-report {
        padding-left: 0px;

        .list-group-item {
          padding: 16px 20px;

          .avatar {
            border-radius: 8px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--accent-300);
          }
        }
      }
    }
  }
}
