<app-card [showHeader]="true" actionClass="actions" [showContent]="true" cardTitle="Ajouter un role">
  <form [formGroup]="roleForm">
    <div class="form-fields">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'AUTO.ROLE_NAME' | translate }}</mat-label>
        <input matInput formControlName="roleName" [placeholder]="'AUTO.ENTER_ROLE_NAME' | translate">
        <mat-error *ngIf="roleForm.get('roleName')?.hasError('required')">

          {{ 'AUTO.ROLE_EST_OBLIGATOIRE' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width mt-2">
        <mat-label>{{ 'BASE_TYPE.FIELDS.DESCRIPTION' | translate }}</mat-label>
        <textarea matInput formControlName="description" [placeholder]="'AUTO.ROLE_DESCRIPTION' | translate" rows="3"></textarea>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="permissions-section">
      <h3>{{ 'AUTO.PERMISSIONS' | translate }}</h3>
      <p class="hint-text">{{ 'AUTO.SELECTIONNER_LES_PERMISSIONS' | translate }}</p>

      <permission-tree
        [initialPermissions]="selectedPermissions"
        (permissionsChange)="onPermissionsChange($event)"
         [viewMode]="viewMode"
      ></permission-tree>
    </div>
  </form>
  <ng-template #actionTemplate >
    <button (click)="cancel()" mat-button type="button">{{ 'ADMIN.CANCEL' | translate }}</button>
    @if (!viewMode && !updateMode) {
       <button mat-raised-button color="primary" type="button"
      [disabled]="roleForm.invalid" (click)="saveRole(fasle)">
     <mat-spinner *ngIf="loading" diameter="25" color="warn"></mat-spinner>
     <span *ngIf="!loading">{{ 'AUTO.SAUVGARDER' | translate }}</span>
    </button>
    }
     @if (!viewMode && updateMode) {
       <button mat-raised-button color="primary" type="button"
      [disabled]="roleForm.invalid" (click)="saveRole(true)">
          <mat-spinner *ngIf="loading" diameter="25" color="warn"></mat-spinner>
          <span *ngIf="!loading">{{ 'BANK_ACCOUNTS.ACTIONS.EDIT' | translate }}</span>
    </button>
    }
 </ng-template>
</app-card>


