<app-card [icon]="'add'" [cardTitle]="isEditing ? ('EMPLOYEE.EDIT_TITLE' | translate) : ('EMPLOYEE.ADD_TITLE' | translate)">
    <div class="form-container">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.FIRST_NAME' | translate }}</mat-label>
                        <input matInput formControlName="firstName" required>
                        <mat-error>{{ getErrorMessage('firstName') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.LAST_NAME' | translate }}</mat-label>
                        <input matInput formControlName="lastName" required>
                        <mat-error>{{ getErrorMessage('lastName') }}</mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.CIN' | translate }}</mat-label>
                        <input matInput formControlName="cin" required>
                        <mat-error>{{ getErrorMessage('cin') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.GENDER' | translate }}</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option *ngFor="let g of ['MALE', 'FEMALE']" [value]="g">
                                {{ g | translate }}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ getErrorMessage('gender') }}</mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.BIRTH_DATE' | translate }}</mat-label>
                        <input matInput [matDatepicker]="birthPicker" formControlName="birthDate" required>
                        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthPicker></mat-datepicker>
                        <mat-error>{{ getErrorMessage('birthDate') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.HIRE_DATE' | translate }}</mat-label>
                        <input matInput [matDatepicker]="hirePicker" formControlName="hireDate" required>
                        <mat-datepicker-toggle matSuffix [for]="hirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #hirePicker></mat-datepicker>
                        <mat-error>{{ getErrorMessage('hireDate') }}</mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.EMAIL' | translate }}</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-error>{{ getErrorMessage('email') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.PHONE' | translate }}</mat-label>
                        <input matInput formControlName="phone">
                    </mat-form-field>
                </div>
            </div>


            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.MARITAL_STATUS' | translate }}</mat-label>
                        <mat-select formControlName="maritalStatus">
                            <mat-option *ngFor="let status of ['SINGLE', 'MARRIED', 'DIVORCED', 'WIDOWED']" [value]="status">
                                {{ status | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="form-grid full-width">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'EMPLOYEE.ADDRESS' | translate }}</mat-label>
                    <textarea matInput formControlName="address" rows="2"></textarea>
                </mat-form-field>
            </div>


            <div class="form-grid">
                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.POSTAL_CODE' | translate }}</mat-label>
                        <input matInput formControlName="postalCode">
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.CITY' | translate }}</mat-label>
                        <input matInput formControlName="city">
                    </mat-form-field>
                </div>

                <div class="form-grid-item">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMPLOYEE.COUNTRY' | translate }}</mat-label>
                        <input matInput formControlName="country">
                    </mat-form-field>
                </div>
            </div>


          <div class="form-grid full-width">
            <mat-checkbox formControlName="active" color="primary">
              {{ 'EMPLOYEE.IS_ACTIVE' | translate }}
            </mat-checkbox>
          </div>

            <div class="form-actions">
                <button mat-button type="button" (click)="onCancel()">
                    {{ 'EMPLOYEE.CANCEL' | translate }}
                </button>
                <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid || loading">
                    <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                    <span *ngIf="!loading">
            {{ isEditing ? ('EMPLOYEE.UPDATE' | translate) : ('EMPLOYEE.SAVE' | translate) }}
          </span>
                </button>
            </div>
        </form>
    </div>
</app-card>
