<div class="auth-main">
  <div class="auth-wrapper">
    <div class="auth-side-content">
      <img src="assets/huile-d-olive.jpg" alt="Olive farm" class="img-auth-side" />
    </div>
    <div class="auth-form">
      <mat-card class="auth-form-card">
        <div class="logo-container">
          <a href="#">
            <img src="assets/OSM.svg" alt="Logo OSM" class="logo" />
          </a>
          |
          <a href="#">
            <img src="assets/XDEV.svg" alt="Logo XDEV" class="logo" />
          </a>
        </div>
        <h2 class="text-center">{{ 'LOGIN.TITLE' | translate }}</h2>
        <div *ngIf="errorMessage" class="mat-alert mat-error" role="alert">{{ errorMessage?.message }}</div>
        <form [formGroup]="form" class="form-container">
          <div class="form-group">
            <label for="username" class="form-label">{{ 'LOGIN.USERNAME' | translate }}</label>
            <mat-form-field appearance="outline" class="w-full">
              <input matInput formControlName="username" id="username" />
              <mat-error *ngIf="form.controls['username'].invalid">{{ getUserNameErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="password" class="form-label">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <mat-form-field appearance="outline" class="w-full">
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" id="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Basculer la visibilité du mot de passe'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls['password'].invalid">{{ getPasswordErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-options">
            <mat-checkbox formControlName="rememberMe" color="primary">{{ 'LOGIN.REMEMBERME' | translate }}</mat-checkbox>
            <a [routerLink]="['/auth/forgot-password']" class="forgot-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
          </div>
          <div class="button-container">
            <button [disabled]="loading || form.invalid" (click)="submit()" mat-flat-button color="primary" class="login-button">
              <mat-spinner *ngIf="loading" diameter="25" color="warn"></mat-spinner>
              <span *ngIf="!loading">Connexion</span>
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>