<div class="row">
  <div class="col-sm-12">
    <app-card [showHeader]="false" [padding]="16">
      <ul class="list-inline invoice-options">
        @for (list of shareOptions; track list) {
          <li class="list-inline-item">
            <a href="javascript:" [routerLink]="list.link" class="avatar avatar-s text-accent-500">
              <svg class="pc-icon">
                <use attr.xlink:href="assets/fonts/custom-icon.svg{{ list.icon }}"></use>
              </svg>
            </a>
          </li>
        }
      </ul>
    </app-card>
    <app-card [showHeader]="false">
      <div class="row g-3" id="print-section">
        <div class="col-12">
          <div class="row align-item-center g-3">
            <div class="col-sm-6">
              <div class="flex align-item-center m-b-10">
                <img src="assets/images/logo-dark.svg" class="img-fluid" alt="images" />
                <span class="user-status bg-accent-100 m-l-10">Paid</span>
              </div>
              <p class="m-b-0">INV - 000457</p>
            </div>
            <div class="col-sm-6 invoice-date">
              <div class="f-w-600">
                Date
                <span class="text-muted f-w-400">03/8/2023</span>
              </div>
              <div class="f-w-600">
                Due Date
                <span class="text-muted f-w-400">10/8/2023</span>
              </div>
            </div>
          </div>
        </div>
        @for (list of address; track $index) {
          <div class="col-sm-6">
            <div class="border border-8 p-15">
              <div class="f-w-600">{{ list.type }}:</div>
              <div class="f-w-600 f-16">{{ list.name }}</div>
              <p class="m-b-0">{{ list.street }}</p>
              <p class="m-b-0">{{ list.phone }}</p>
              <p class="m-b-0">{{ list.email }}</p>
            </div>
          </div>
        }
        <div class="col-12">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">{{ element.id }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>NAME</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">
                  {{ element.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">
                  {{ element.description }}
                </td>
              </ng-container>
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef class="text-end">QTY</th>
                <td mat-cell *matCellDef="let element" class="text-end text-nowrap">
                  {{ element.qty }}
                </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="text-end">PRICE</th>
                <td mat-cell *matCellDef="let element" class="text-end text-nowrap">${{ element.price }}</td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef class="text-end">TOTAL AMOUNT</th>
                <td mat-cell *matCellDef="let element" class="text-end text-nowrap">${{ element.qty * element.price }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
        <div class="col-12">
          <div class="invoice-total">
            <div class="row">
              <div class="col-6"><p class="text-muted m-b-5 text-start">Sub Total :</p></div>
              <div class="col-6"><p class="m-b-5 text-end">$20.00</p></div>
              <div class="col-6"><p class="text-muted m-b-5 text-start">Discount :</p></div>
              <div class="col-6"><p class="m-b-5 text-end text-success">$10.00</p></div>
              <div class="col-6"><p class="text-muted m-b-5 text-start">Taxes :</p></div>
              <div class="col-6"><p class="m-b-5 text-end">$5.000</p></div>
              <div class="col-6"><p class="f-w-600 m-b-5 text-start">Grand Total :</p></div>
              <div class="col-6"><p class="f-w-600 m-b-5 text-end">$25.00</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <mat-label class="f-w-500">Note</mat-label>
        <p class="m-b-0">
          It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance projects. Thank You!
        </p>
      </div>
      <div class="col-12 text-end">
        <button [useExistingCss]="true" printSectionId="print-section" ngxPrint mat-stroked-button color="accent">Download</button>
      </div>
    </app-card>
  </div>
</div>
