::ng-deep.dropdown-item-search {
  min-width: 20rem !important;
  border-radius: 8px;

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--accent-50) !important;
  }

  .mdc-text-field {
    position: inherit;
    will-change: inherit;
  }

  .drp-search {
    padding: 8px 16px;
  }
}
::ng-deep.header-item {
  ::ng-deep.input-search {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    .material-icons.search-icons {
      line-height: 0 !important;
    }

    .mdc-text-field--outlined .mat-mdc-form-field-infix,
    .mdc-text-field--no-label .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .mat-mdc-form-field-infix {
      min-height: 40px;
    }
  }
  &.mdc-button {
    background-color: transparent;
  }
}
