
<!-- History Cards -->
<div class="history-cards-container" >
  <div class="history-cards">
    <mat-card class="history-card" (click)="navigateToHistory('paid')">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="primary">payments</mat-icon>
          <div class="card-info">
            <h3>{{ 'SUPPLIER.DETAILS.PAYMENT_HISTORY_TITLE' | translate }}</h3>
            <p>{{ paidCount }} {{ 'SUPPLIER.DETAILS.PAYMENT_HISTORY_COUNT' | translate }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="history-card" (click)="navigateToHistory('unpaid')">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="warn">pending_actions</mat-icon>
          <div class="card-info">
            <h3>{{ 'SUPPLIER.DETAILS.UNPAID_TITLE' | translate }}</h3>
            <p>{{ unpaidCount }} {{ 'SUPPLIER.DETAILS.UNPAID_COUNT' | translate }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Supplier details dashboard -->
<osm-dashboard
  [config]="dashboardConfig"
  (applyAction)="handleAction($event)">
</osm-dashboard>
