
<!-- History Cards -->

@if (!supplierId){
  <!-- Error message -->
  <div class="error-container">
    <mat-icon color="warn">error</mat-icon>
    <p>Fournisseur non trouvé avec ce id ! </p>
  </div>
} @else {
<div class="history-cards-container" >
  <div class="history-cards">
    <mat-card class="history-card" (click)="loadPaymentHistory(true)">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="primary">payments</mat-icon>
          <div class="card-info">
            <h3>{{ 'SUPPLIER.DETAILS.PAYMENT_HISTORY_TITLE' | translate }}</h3>
            <p>{{ paidCount }} {{ 'SUPPLIER.DETAILS.PAYMENT_HISTORY_COUNT' | translate }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="history-card" (click)="loadPaymentHistory(false)">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="warn">pending_actions</mat-icon>
          <div class="card-info">
            <h3>{{ 'SUPPLIER.DETAILS.UNPAID_TITLE' | translate }}</h3>
            <p>{{ unpaidCount }} {{ 'SUPPLIER.DETAILS.UNPAID_COUNT' | translate }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="history-card oil-credit-card" (click)="loadOilCredits()">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="accent">water_drop</mat-icon>
          <div class="card-info">
            <h3>{{ 'SUPPLIER.DETAILS.OIL_CREDIT_STATS_TITLE' | translate }}</h3>
            <p>{{creditsCount}} {{ 'SUPPLIER.DETAILS.OIL_CREDIT_TOTAL' | translate }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="table-section">
  @if (isOilCredit){
     <osm-dashboard #dashboard [config]="OIL_CREDIT_DASHBOARD" (applyAction)="handleCreditAction($event)"></osm-dashboard>
  } @else {
     <osm-dashboard #dashboard [config]="PAIMENT_DASHBOARD" (applyAction)="handlePaymentAction($event)"></osm-dashboard>
  }

</div>

}
