<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="p-20 soon-card">
          <div class="row justify-content-center align-item-center">
            <div class="col-md-6">
              <img src="assets/images/pages/img-soon-1.png" class="img-fluid" alt="img" />
            </div>
            <div class="col-md-4">
              <div>
                <div class="m-t-50 f-38 f-w-700">Coming Soon</div>
                <div class="m-t-5 f-16 text-muted">Something new is on its way</div>
                <div class="time-block row m-t-25 justify-content-center" id="timer-block">
                  <div class="col-auto">
                    <div class="time-block__item">
                      <h2 class="time-block__value">{{ daysLeft }}</h2>
                    </div>
                  </div>
                  <h1 class="col-auto">:</h1>
                  <div class="col-auto">
                    <div class="time-block__item">
                      <h2 class="time-block__value">{{ hours }}</h2>
                    </div>
                  </div>
                  <h1 class="col-auto">:</h1>
                  <div class="col-auto">
                    <div class="time-block__item">
                      <h2 class="time-block__value">{{ minutes }}</h2>
                    </div>
                  </div>
                  <h1 class="col-auto">:</h1>
                  <div class="col-auto">
                    <div class="time-block__item">
                      <h2 class="time-block__value">{{ seconds }}</h2>
                    </div>
                  </div>
                </div>
                <div class="email-subscribe flex m-t-15 m-b-15 align-item-center">
                  <div class="email-box">
                    <mat-form-field appearance="outline" class="w-100 subscribe-email">
                      <input matInput placeholder="Placeholder" />
                    </mat-form-field>
                  </div>
                  <div class="subscribe-button m-l-20">
                    <div class="grid">
                      <button mat-flat-button color="primary">Notify Me</button>
                    </div>
                  </div>
                </div>
                <div class="social-subscribe">
                  <a href="https://www.facebook.com/Phoenixcoded/" target="_blank">
                    <svg class="pc-icon">
                      <use xlink:href="assets/fonts/custom-icon.svg#custom-facebook"></use>
                    </svg>
                  </a>
                  <a href="https://themeforest.net/user/phoenixcoded" target="_blank">
                    <svg class="pc-icon">
                      <use xlink:href="assets/fonts/custom-icon.svg#custom-google"></use>
                    </svg>
                  </a>
                  <a href="https://dribbble.com/Phoenixcoded" target="_blank">
                    <svg class="pc-icon">
                      <use xlink:href="assets/fonts/custom-icon.svg#custom-global"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
