<div class="preview-dialog">
  <div class="dialog-header">
    <div>
      <h2>{{ 'AUTO.APERCU_DE_L_ETIQUETTE' | translate }}</h2>
      <p>{{ 'AUTO.VISUALISATION_COMPLETE_ET_PAYLOAD_JSON_EXPORTABLE' | translate }}</p>
    </div>
    <button mat-icon-button type="button" (click)="close()" [attr.aria-label]="'COMMON.CLOSE' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
    <div class="preview-frame">
      <app-label-preview-carousel
        *ngIf="usesCarousel; else singlePreview"
        [slides]="carouselSlides"
        [initialLanguage]="data.initialLanguage"
        size="full"
        [showExpand]="false"
      ></app-label-preview-carousel>

      <ng-template #singlePreview>
        <app-label-preview-card
          *ngIf="carouselSlides[0] as slide"
          [preview]="slide.preview"
          size="full"
        ></app-label-preview-card>
      </ng-template>
    </div>

    <div class="json-section">
      <button mat-stroked-button type="button" class="json-toggle" (click)="toggleJson()">
        <mat-icon>{{ showJson ? 'expand_less' : 'code' }}</mat-icon>
        {{ showJson ? 'Masquer le JSON' : 'Afficher le JSON étiquette' }}
      </button>

      <pre class="json-block" *ngIf="showJson">{{ data.payloadJson }}</pre>
    </div>
  </div>

  <div class="dialog-actions">
    <button mat-flat-button type="button" (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
  </div>
</div>
