@if (!item().hidden) {
  @if (item().url && !item().external) {
    <li
      [ngClass]="item().classes!"
      [routerLinkActive]="['active']"
      matTooltip="{{ !isEnabled ? 'Logout and Login with Admin to view this page ' : '' }}"
    >
      <a
        class="nav-link"
        [target]="item().target ? '_blank' : '_self'"
        [ngClass]="{ disabled: !isEnabled }"
        [routerLink]="[item().url]"
        (click)="toggleMenu($event)"
        [routerLinkActive]="['active']"
      >
        <!-- lock icon when disabled -->
        @if (!isEnabled) {
          <mat-icon class="coded-micon">lock</mat-icon>
        } @else {
          <!-- normal item icon when enabled -->
          <mat-icon *ngIf="item().icon" class="coded-micon">{{ item().icon }}</mat-icon>
        }

        <!-- title -->
        <span class="coded-mtext">{{ item().title | translate }}</span>
      </a>
    </li>
  } @else if (item().url && item().external) {
    <li
      [ngClass]="item().classes!"
      matTooltip="{{ !isEnabled ? 'Logout and Login with Admin to view this page ' : '' }}"
    >
      <a
        [target]="item().target ? '_blank' : '_self'"
        [href]="item().url"
        [ngClass]="{ disabled: !isEnabled }"
      >
        <mat-icon *ngIf="item().icon" class="coded-micon">{{ item().icon }}</mat-icon>
        <span class="coded-mtext">{{ item().title | translate }}</span>
      </a>
    </li>
  }
}
