<mat-drawer #task position="end" mode="over" class="kanban-drawer">
  @if (taskDetails) {
    <div class="header-title">
      <div class="kanban-header-title">
        <h4>{{ taskDetails.title }}</h4>
        <div class="flex align-item-center hei-10">
          <button mat-icon-button (click)="deleteTask(taskDetails)">
            <i class="ti ti-trash f-20 text-warn-500"></i>
          </button>
          <button mat-icon-button (click)="closeEditSlider()">
            <i class="ti ti-x f-20"></i>
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-scrollbar style="height: calc(100vh - 88px)" visibility="hover" [dir]="direction">
      <div class="p-20">
        <form (ngSubmit)="changeItemDetails()">
          <label for="title" class="f-w-500">Title</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput name="title" type="text" [(ngModel)]="taskDetails.title" />
          </mat-form-field>
          <label for="assign" class="f-w-500">Assign To</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <mat-select [(ngModel)]="taskDetails.assign" name="assign">
              @for (profile of assignProfile; track profile) {
                <mat-option [value]="profile.id">
                  <div class="flex align-item-center">
                    <img src="assets/images/user/{{ profile.avatar }}" alt="images" class="img-fuild m-r-10 border-50 wid-35" />
                    {{ profile.name }}
                  </div>
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <label for="priority" class="f-w-500">Prioritize</label>
          <mat-radio-group class="block" [(ngModel)]="taskDetails.priority" name="priority">
            <mat-radio-button color="primary" value="low" [checked]="taskDetails.priority === 'low'">Low</mat-radio-button>
            <mat-radio-button color="warn" value="medium" [checked]="taskDetails.priority === 'medium'">Medium</mat-radio-button>
            <mat-radio-button value="high" [checked]="taskDetails.priority === 'high'">High</mat-radio-button>
          </mat-radio-group>
          <label for="phone" class="f-w-500">Due Date</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="taskDate" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <label for="description" class="f-w-500">Description</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <textarea matInput name="description" [(ngModel)]="taskDetails.description" rows="3"></textarea>
          </mat-form-field>
          <label for="story" class="f-w-500">User Story</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <mat-select name="story" [(ngModel)]="selectUserStroy">
              @for (item of userStory; track item) {
                <mat-option [value]="item">{{ item.id }} - {{ item.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <label for="state" class="f-w-500">State</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <mat-select name="state" [(ngModel)]="getColumnData">
              @for (item of columnsDetails; track item) {
                <mat-option [value]="item">
                  {{ item.title }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <label for="phone" class="f-w-500">Attachments:</label>
          <div class="flex align-item-center m-b-10">
            <div class="presentation">
              <input type="file" class="d-none" id="flup" (change)="onFileSelected($event)" />
              <label class="inner-attachments" for="flup">
                <i class="ti ti-camera f-24"></i>
              </label>
            </div>
            @if (taskDetails?.attachments && taskDetails.attachments.length > 0) {
              @for (file of selectedFiles; track file; let i = $index) {
                <div class="presentation">
                  <div class="inner-attachments">
                    <a (click)="removeFile(i)"><i class="ti ti-x close-file"></i></a>
                    @if (isImage(file)) {
                      <img [src]="file.data" alt="Uploaded Image" class="img-fluid" />
                    } @else {
                      <i class="ti ti-file-minus f-24"></i>
                    }
                  </div>
                </div>
              }
            }
          </div>
          <div class="col-12">
            <div class="grid">
              <button mat-flat-button type="submit" color="primary" class="m-b-30" (click)="closeEditSlider()">Submit</button>
            </div>
          </div>
        </form>
        @if (taskDetails?.commentIds && taskDetails?.commentIds.length > 0) {
          @for (commentData of commentList; track commentData) {
            <app-card [showHeader]="false" padding="10" cardClass="bg-accent-200">
              <div class="flex align-item-center m-b-10">
                <div class="flex-grow-1 m-r-15">
                  <div class="flex align-item-center">
                    <div class="flex-shrink-0">
                      <img src="assets/images/user/{{ commentData.profile.avatar }}" alt="avatar" class="wid-30 img-user border-50" />
                    </div>
                    <div class="flex-grow-1 m-l-10">
                      <div class="mat-body f-w-600">{{ commentData.profile.name }}</div>
                    </div>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="block-inline m-r-10">
                    <div class="flex align-item-center">
                      <i class="fas fa-circle f-8 m-r-10"></i>
                      {{ commentData.profile.time }}
                    </div>
                  </div>
                </div>
              </div>
              <p>{{ commentData.comment.comment }}</p>
            </app-card>
          }
        }
        <app-card [showHeader]="false" padding="10">
          <form (submit)="newCommitSubmit()">
            <mat-form-field appearance="outline" class="w-100 comment-section">
              <input matInput placeholder="Add Comment Here" name="inputField" [(ngModel)]="newComment" />
            </mat-form-field>
            <div class="flex align-item-center justify-content-between">
              <div class="flex align-item-center">
                <div class="avatar avatar-s">
                  <i class="ti ti-camera f-20 text-primary-500"></i>
                </div>
                <div class="avatar avatar-s">
                  <i class="ti ti-paperclip f-20 text-primary-500"></i>
                </div>
                <div class="avatar avatar-s">
                  <i class="ti ti-brand-android f-20 text-primary-500"></i>
                </div>
              </div>
              <div>
                <button mat-flat-button color="primary" type="submit">Comment</button>
              </div>
            </div>
          </form>
        </app-card>
      </div>
    </ng-scrollbar>
  }
</mat-drawer>
