<mat-form-field appearance="outline">
  <mat-label>{{ translate.instant('BASE_TYPE.' + type()) }}</mat-label>
  <input
    #autoTrig="matAutocompleteTrigger"
    [formControl]="formControl()"
    [matAutocomplete]="auto"
    [placeholder]="translate.instant('BASE_TYPE.'+type())"
    matInput

  />

  @if (showAddButton) {
    <button
      type="button"
      matSuffix
      (mousedown)="$event.preventDefault()"
      (click)="$event.stopPropagation(); autoTrig.closePanel(); action($event)"
      color="primary"
      mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  }

  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="autoCompleteSelect($event.option.value)" (optionsScroll)="scroll($event)"
                    [displayWith]="displayWith">
    @for (item of autoCompleteOptions?.data; track item?.id) {
      <mat-option [value]="item">
        {{ item?.name }}
      </mat-option>
    }
  </mat-autocomplete>

</mat-form-field>
