 <osm-dashboard #dashboard (applyAction)="onRowAction($event)" [config]="dashboardConfig"></osm-dashboard>


<!--&lt;!&ndash; quality-control-rule.component.html &ndash;&gt;-->
<!--<mat-expansion-panel [(expanded)]="formOpen" hideToggle class="m-b-20">-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>{{ isEditing ? 'Edit Rule' : 'Add Rule' }}</mat-panel-title>-->
<!--  </mat-expansion-panel-header>-->

<!--  <form-->
<!--    class="rule-form"-->
<!--    [formGroup]="ruleForm"-->
<!--    (ngSubmit)="onSubmit()">-->

<!--    &lt;!&ndash; Rule key + Oil QC &ndash;&gt;-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Rule Key</mat-label>-->
<!--      <input matInput formControlName="ruleKey" />-->
<!--    </mat-form-field>-->

<!--    <mat-checkbox formControlName="oilQc">Oil QC</mat-checkbox>-->


<!--    &lt;!&ndash; Rule name &ndash;&gt;-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Rule Name</mat-label>-->
<!--      <input matInput formControlName="ruleName" />-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Type &ndash;&gt;-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Type</mat-label>-->
<!--      <mat-select formControlName="ruleType">-->
<!--        <mat-option value="numeric">Numeric</mat-option>-->
<!--        <mat-option value="boolean">Boolean</mat-option>-->
<!--        <mat-option value="string">Text</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Numeric min / max &ndash;&gt;-->
<!--    <mat-form-field-->
<!--      *ngIf="ruleForm.get('ruleType')?.value === 'numeric'"-->
<!--      appearance="outline">-->
<!--      <mat-label>Min Value</mat-label>-->
<!--      <input matInput type="number" formControlName="minValue" />-->
<!--    </mat-form-field>-->

<!--    <mat-form-field-->
<!--      *ngIf="ruleForm.get('ruleType')?.value === 'numeric'"-->
<!--      appearance="outline">-->
<!--      <mat-label>Max Value</mat-label>-->
<!--      <input matInput type="number" formControlName="maxValue" />-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Boolean expected value &ndash;&gt;-->
<!--    <mat-checkbox-->
<!--      *ngIf="ruleForm.get('ruleType')?.value === 'boolean'"-->
<!--      formControlName="booleanValue"-->
<!--      class="boolean-expected">-->
<!--      Expected Value-->
<!--    </mat-checkbox>-->

<!--    &lt;!&ndash; Description &ndash;&gt;-->
<!--    <mat-form-field appearance="outline" class="full-width">-->
<!--      <mat-label>Description</mat-label>-->
<!--      <input matInput formControlName="description" />-->
<!--    </mat-form-field>-->

<!-- Affichage uniquement si ruleType est "text" -->

<!--    <mat-form-field-->
<!--      *ngIf="ruleForm.get('ruleType')?.value === 'string'"-->
<!--      appearance="outline"-->
<!--      class="full-width">-->
<!--      <mat-label>Valeurs possibles (séparées par des virgules)</mat-label>-->
<!--      <input matInput formControlName="textInput"  required/>-->
<!--    </mat-form-field>-->


<!--    &lt;!&ndash; Action buttons &ndash;&gt;-->
<!--    <div class="actions full-width">-->
<!--      <button mat-flat-button color="primary" type="submit">-->
<!--        {{ isEditing ? 'Update' : 'Add' }}-->
<!--      </button>-->
<!--      <button mat-stroked-button color="accent" type="button" (click)="cancel()">-->
<!--        Cancel-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
<!--</mat-expansion-panel>-->

<!--<app-card cardTitle="Quality Control Rule Management">-->
<!--  <div class="table-responsive">-->
<!--    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--      <ng-container matColumnDef="ruleKey">-->
<!--        <th mat-header-cell *matHeaderCellDef>Rule Key</th>-->
<!--        <td mat-cell *matCellDef="let r">{{ r.ruleKey }}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="Oil QC">-->
<!--        <th mat-header-cell *matHeaderCellDef>Oil QC</th>-->
<!--        <td mat-cell *matCellDef="let r">-->
<!--          <mat-checkbox [checked]="r.oilQc" disabled></mat-checkbox>-->
<!--        </td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="ruleType">-->
<!--        <th mat-header-cell *matHeaderCellDef>Type</th>-->
<!--        <td mat-cell *matCellDef="let r">{{ r.ruleType }}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="ruleName">-->
<!--        <th mat-header-cell *matHeaderCellDef>Rule Name</th>-->
<!--        <td mat-cell *matCellDef="let r">{{ r.ruleName }}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="minValue">-->
<!--        <th mat-header-cell *matHeaderCellDef>Min Value</th>-->
<!--        <td mat-cell *matCellDef="let r">{{ r.minValue }}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="maxValue">-->
<!--        <th mat-header-cell *matHeaderCellDef>Max Value</th>-->
<!--        <td mat-cell *matCellDef="let r">{{ r.maxValue }}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="actions">-->
<!--        <th mat-header-cell *matHeaderCellDef>Actions</th>-->
<!--        <td mat-cell *matCellDef="let r">-->
<!--          <button mat-icon-button color="primary" (click)="openForm(r)">-->
<!--            <mat-icon>edit</mat-icon>-->
<!--          </button>-->
<!--          <button mat-icon-button color="warn" (click)="deleteRule(r)">-->
<!--            <mat-icon>delete</mat-icon>-->
<!--          </button>-->
<!--        </td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div style="text-align:right; margin-top:16px;">-->
<!--    <button mat-flat-button color="primary" (click)="openForm()">Add Rule</button>-->
<!--  </div>-->
<!--</app-card>-->
