.toolbar-spacer { flex: 1 1 auto; }
.w-40 { width: 40%; min-width: 110px; }

.action-buttons {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;

  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
    color: #f44336;
  }
}

.section-title {
  margin: 16px 0;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 500;
}

mat-card {
  margin: 16px;
  max-width: 800px;
  margin: 0 auto;
}

mat-list-item {
  height: auto !important;
  margin: 8px 0;
}

@media (max-width: 599px) {
  mat-grid-list { grid-template-columns: 1fr !important; }
}

.history-cards-container {
  margin: 20px 0;
  padding: 0 20px;
}

.history-cards {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
}

.history-card {
  min-width: 250px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover , &:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px var(--accent-900) !important;

  }

  .card-content {
    display: flex;
    align-items: center;
  }

  .card-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
    margin-right: 16px;
  }

  .card-info {
    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      font-weight: 500;
    }

    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
