<div class="history-cards-container" >
  <div class="history-cards">
    <mat-card class="history-card" tabindex="0" (click)="loadPointage()">
      <mat-card-content>
        <div class="card-content">
          <mat-icon class="card-icon" color="primary">playlist_add</mat-icon>
          <div class="card-info">
            <h3>ajouter pointage</h3>
            <p> nombre des employee pointer:{{ pointCount }}</p>

          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>

<osm-dashboard
  #dashboard
  [config]="dashboardConfig"
  (applyAction)="handleAction($event)">
</osm-dashboard>
