.card-flex {
  display: flex;
  flex-direction: column;
}

.slider-label {
  margin: 20px 10px 0;
  max-width: 100%;
}

.slider-section {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .slider-section {
    display: block;
  }
}
