@import '../../../../@theme/styles/theme-palette-colors.scss';

.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1;
}

/* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0;
}

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-mdc-radio-button {
  &.auth-business {
    .mdc-form-field {
      display: block;
    }

    .mdc-radio {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }

    .mdc-form-field > label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 180px;
      border: 2px solid var(--accent-300);
      border-radius: 8px;
    }

    .pc-icon {
      width: 48px;
      height: 48px;
    }

    &.mat-mdc-radio-checked {
      .mdc-form-field > label {
        background: var(--primary-100);
        border-color: var(--primary-500);
        color: var(--primary-500);
      }
    }
  }
}

.auth-main {
  .auth-wrapper {
    &.version-3 {
      display: flex;
      align-items: center;
      background: var(--accent-50);

      .authentication-page {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        align-self: stretch;
        align-items: initial;

        .login {
          display: grid;
          margin: 24px 0px;

          .login-mail {
            border: 1px solid var(--accent-300);
            border-radius: 4px;

            &.border-remove {
              border: none;
            }
          }
        }

        .login-social-media {
          display: grid;

          &.button-hide {
            display: none;
            margin: 24px 0px;
          }
        }

        .center-content {
          margin: 48px auto;
          width: 100%;
          max-width: 480px;
          min-width: 0;

          .header-hide {
            display: none;
          }

          .final-step {
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 8px;
            background-color: rgb(240, 248, 246);

            ::ng-deep.dark & {
              color: var(--accent-100);
            }
          }
        }
      }

      .auth-side-content {
        width: 580px;
        align-self: stretch;
        background: var(--primary-500);
        position: relative;

        // here this css use for after in add css of background effect overRide
        > * {
          position: relative;
          z-index: 5;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          z-index: 2;
          background: linear-gradient(338deg, rgb(0, 0, 0, 0.3), transparent);
        }

        .auth-side-3 {
          padding: 48px;
          text-align: center;
          width: 100%;

          .auth-carousel {
            width: 484px;
            display: block;
          }

          p {
            color: $white;
            margin-bottom: 0px !important;
          }

          .user-avatar {
            width: 40px !important;
            display: inline-flex !important;
          }

          .user-info {
            color: $white;

            p {
              opacity: 0.5;
            }
          }

          .user-rating {
            i {
              color: map-get($yellow-theme, 300);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .auth-main {
    .auth-wrapper.version-3 {
      .auth-side-content {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .auth-main {
    .auth-wrapper.version-3 {
      .auth-side-content {
        .auth-side-3 {
          padding: 16px;
        }
      }
    }
  }
}
