<div class="add-customer">
  <div class="p-20 flex align-item-center justify-content-between border-bottom">
    <div class="f-16 f-w-600">Add Customer</div>
    <a href="javascript:" class="avatar.avatar-s bg-accent-50 text-accent-500" mat-dialog-close>
      <i class="ti ti-x f-20"></i>
    </a>
  </div>
  <div class="p-20 border-bottom">
    <div class="mat-small m-t-0 m-b-15">We'll never share your email with anyone else.</div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="Enter First Name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Enter Last Name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter Email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter Password" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Enter Confirm Password" />
    </mat-form-field>
  </div>
  <div class="p-20 text-end">
    <button mat-button class="bg-warn-50 text-warn-500 m-r-10" mat-dialog-close>Close</button>
    <button mat-button class="bg-primary-50 text-primary-500" mat-dialog-close>Save Change</button>
  </div>
</div>
