<app-card cardTitle="Gallery">
  <div class="row g-2">
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-1.jpg')">
        <img src="assets/images/application/img-gallery-1.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <div class="row g-2">
        <div class="col-md-12">
          <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-2.jpg')">
            <img src="assets/images/application/img-gallery-2.jpg" alt="img" class="card-img" />
            <div class="card-img-overlay">
              <i class="ti ti-cloud-download"></i>
            </div>
          </a>
        </div>
        <div class="col-md-12">
          <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-3.jpg')">
            <img src="assets/images/application/img-gallery-3.jpg" alt="img" class="card-img" />
            <div class="card-img-overlay">
              <i class="ti ti-cloud-download"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-4.jpg')">
        <img src="assets/images/application/img-gallery-4.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-5.jpg')">
        <img src="assets/images/application/img-gallery-5.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-6.jpg')">
        <img src="assets/images/application/img-gallery-6.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-7.jpg')">
        <img src="assets/images/application/img-gallery-7.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-8.jpg')">
        <img src="assets/images/application/img-gallery-8.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <div class="row g-2">
        <div class="col-md-12">
          <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-2.jpg')">
            <img src="assets/images/application/img-gallery-2.jpg" alt="img" class="card-img" />
            <div class="card-img-overlay">
              <i class="ti ti-cloud-download"></i>
            </div>
          </a>
        </div>
        <div class="col-md-12">
          <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-3.jpg')">
            <img src="assets/images/application/img-gallery-3.jpg" alt="img" class="card-img" />
            <div class="card-img-overlay">
              <i class="ti ti-cloud-download"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-1.jpg')">
        <img src="assets/images/application/img-gallery-1.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-5.jpg')">
        <img src="assets/images/application/img-gallery-5.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-6.jpg')">
        <img src="assets/images/application/img-gallery-6.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-4.jpg')">
        <img src="assets/images/application/img-gallery-4.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-8.jpg')">
        <img src="assets/images/application/img-gallery-8.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="javascript:" class="img-post social-card" (click)="openDialog('assets/images/application/img-gallery-7.jpg')">
        <img src="assets/images/application/img-gallery-7.jpg" alt="img" class="card-img" />
        <div class="card-img-overlay">
          <i class="ti ti-cloud-download"></i>
        </div>
      </a>
    </div>
  </div>
</app-card>
