<div class="row widget-data p-t-25">
  <div class="col-xl-4 col-md-12">
    <app-card headerClass="transaction-card-header" cardTitle="My Task" padding="0">
      <ng-template #headerOptionsTemplate>
        <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Today</a>
          <a mat-menu-item>Weekly</a>
          <a mat-menu-item>Monthly</a>
        </mat-menu>
      </ng-template>
      <ul class="list-group list-group-flush">
        @for (task of my_task; track task) {
          <li class="list-group-item my-task">
            <div class="flex align-item-center">
              <div class="flex-grow-1 m-l-10">
                <div class="f-w-600">Follow up client for feedback</div>
                <p class="m-b-5">
                  <i class="{{ task.icon }}"></i>
                  {{ task.status }}
                </p>
                <span class="task-time {{ task.background }}">00 : 15</span>
              </div>
              <div class="flex-shrink-0">
                <a href="javascript:" class="avatar avatar-s">
                  <i class="ti ti-circle-check {{ task.color }} f-22"></i>
                </a>
              </div>
            </div>
          </li>
        }
      </ul>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <mat-card class="card">
      <mat-card-header class="card-header block">
        <div class="flex align-item-center">
          <div class="flex-shrink-0 m-r-15">
            <div class="avatar avatar-s text-warn-500 bg-warn-50">
              <i class="ti ti-brand-google f-18"></i>
            </div>
          </div>
          <div class="flex-grow-1">
            <div>Google LLC</div>
            <div class="f-16 f-w-600">Sr. UI designer</div>
          </div>
          <div class="flex-shrink-0 m-l-15">
            <a href="javascript:" class="avatar avatar-s hover text-primary-500">
              <i class="ti ti-bookmarks f-18"></i>
            </a>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="p-20">
        <div class="f-16 f-w-500 m-b-10">Description</div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley.
        </p>
        <ul class="list-inline p-t-2 job-type">
          <li class="list-inline-item"><span>Fulltime</span></li>
          <li class="list-inline-item"><span>Remote</span></li>
          <li class="list-inline-item"><span>Hourly</span></li>
        </ul>
        <div class="flex align-item-center justify-content-between">
          <ul class="list-inline m-r-10">
            <li class="list-inline-item m-r-10">
              <i class="text-muted ti ti-map-pin"></i>
              Pennsylvania,USA
            </li>
            <li class="list-inline-item">
              <i class="text-muted ti ti-clock"></i>
              2 days ago
            </li>
          </ul>
          <button mat-flat-button class="b-rad-20" color="primary">Apply</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card headerClass="transaction-card-header" cardTitle="Team Members" padding="0">
      <ng-template #headerOptionsTemplate>
        <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Today</a>
          <a mat-menu-item>Weekly</a>
          <a mat-menu-item>Monthly</a>
        </mat-menu>
      </ng-template>
      <ul class="list-group list-group-flush">
        @for (list of team_member; track list) {
          <li class="list-group-item my-task">
            <div class="flex align-item-center">
              <div class="flex-shrink-0 m-r-10">
                <img src="{{ list.img }}" alt="user-image" class="user-avtar wid-50 hie-50 b-rad-10" />
              </div>
              <div class="flex-grow-1">
                <div class="f-w-500">{{ list.name }}</div>
                <div class="mat-caption">{{ list.position }}</div>
              </div>
              <div class="flex-shrink-0 m-l-10">
                <div class="text-muted mat-caption">{{ list.status }}</div>
              </div>
            </div>
          </li>
        }
      </ul>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-12">
    <app-card [showHeader]="false" padding="0">
      <div class="table-responsive">
        <div class="p-20 product-block">
          <div class="product-block-header">
            <div class="flex align-item-center">
              <div class="m-r-15 f-w-600 f-16">Products</div>
              <mat-form-field>
                <mat-label>search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="search.." #input />
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select [value]="'option2'">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="row align-item-center product-name">
                <div class="col-auto p-r-0">
                  <img src="{{ element.img }}" alt="user-image" class="wid-55 hei-55 b-rad-10 border" />
                </div>
                <div class="col">
                  <div class="m-b-5">
                    <span class="text-truncate w-100 f-w-500">{{ element.name }}</span>
                  </div>
                  <p class="text-muted f-12 m-b-0">
                    <span class="text-truncate mat-caption w-100">{{ element.text }}</span>
                  </p>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-status mat-small text-white {{ element.status_type }} text-center">{{ element.status }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element" class="f-w-600">${{ element.price }}</td>
          </ng-container>

          <ng-container matColumnDef="sales">
            <th mat-header-cell *matHeaderCellDef>Sales</th>
            <td mat-cell *matCellDef="let element">
              <div class="f-w-600 text-nowrap">
                $500
                <small class="mat-small {{ element.color }} f-w-400">
                  {{ element.sales }}
                  <i class="{{ element.icon }}"></i>
                </small>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef>Rating</th>
            <td mat-cell *matCellDef="let element" class="f-w-600 text-nowrap">
              <i class="fas fa-star text-warning-500"></i>
              {{ element.rating }}
              <span class="f-w-400 text-muted">({{ element.total_reviewer }})</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator
        class="m-b-10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      ></mat-paginator>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <mat-card class="card block">
      <mat-card-header class="card-header block">
        <div class="flex align-item-center justify-content-between m-b-15">
          <div class="f-w-600 f-16">Monthly Revenue</div>
          <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
          <mat-menu #menu="matMenu">
            <a mat-menu-item>Today</a>
            <a mat-menu-item>Weekly</a>
            <a mat-menu-item>Monthly</a>
          </mat-menu>
        </div>
        <div class="m-b-5 f-w-600 f-16">
          $746.5k
          <span class="f-14 text-success-500 f-w-600">
            +20.6
            <i class="ti ti-arrow-up"></i>
          </span>
        </div>
        <p class="text-muted m-b-0">Past 30 days</p>
      </mat-card-header>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource_2" class="mat-elevation-z8 monthly-table m-b-10">
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef>CUSTOMER</th>
            <td mat-cell *matCellDef="let element" class="flex align-item-center">
              <div class="avatar avatar-xs flex-shrink-0 m-r-10">
                <i class="{{ element.icon }} f-18"></i>
              </div>
              <span class="text-truncate w-100">{{ element.customer }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef>PLAN</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-status monthly mat-small text-success-500 bg-success-50 text-center">{{ element.plan }}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="mrr">
            <th mat-header-cell *matHeaderCellDef>MRR</th>
            <td mat-cell *matCellDef="let element">
              <div class="{{ element.color }} f-w-600">{{ element.mrr }}</div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns_2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns_2"></tr>
        </table>
      </div>
    </mat-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="New Customers" padding="0">
      <ng-scrollbar style="height: 478px; position: relative" visibility="hover" [dir]="direction">
        <div class="customer-body">
          @for (list of new_customers; track list) {
            <div class="align-middle m-b-25">
              <img src="{{ list.img }}" alt="user image" class="img-radius align-top m-r-15" />
              <div class="user-info">
                <div class="f-w-600">{{ list.name }}</div>
                <div class="mat-caption">{{ list.status }}</div>
                <span class="status {{ list.status_type }}">
                  <i class="{{ list.icon }} m-r-10"></i>
                  {{ list.time }}
                </span>
              </div>
            </div>
          }
        </div>
      </ng-scrollbar>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Recent Tickets" padding="0">
      <ng-template #headerOptionsTemplate>
        <a href="javascript:" class="text-primary-500">View All</a>
      </ng-template>
      <div class="m-b-5 table-responsive">
        <table mat-table [dataSource]="ticketSource" class="mat-elevation-z8 monthly-table">
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef>SUBJECT</th>
            <td mat-cell class="recent-ticket text-nowrap" *matCellDef="let element">
              {{ element.subject }}
            </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>DEPARTMENT</th>
            <td mat-cell class="recent-ticket" *matCellDef="let element">
              {{ element.department }}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>DATE</th>
            <td mat-cell class="recent-ticket text-nowrap" *matCellDef="let element">
              {{ element.date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>STATUS</th>
            <td mat-cell class="recent-ticket" *matCellDef="let element">
              <div class="user-status mat-small {{ element.status_type }} text-center">{{ element.status }}</div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="recentTicket"></tr>
          <tr mat-row *matRowDef="let row; columns: recentTicket"></tr>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card [showHeader]="false" padding="0" actionClass="card-action block">
      <div class="transaction-header p-20">
        <div class="flex align-item-center justify-content-between">
          <div class="f-16 f-w-600">Transactions</div>
          <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
        </div>
      </div>
      <mat-tab-group mat-stretch-tabs="false" class="transactions" mat-align-tabs="start">
        <mat-tab label="All Transaction">
          <ng-container *ngTemplateOutlet="Transaction"></ng-container>
        </mat-tab>
        <mat-tab label="Success">
          <ng-container *ngTemplateOutlet="Transaction"></ng-container>
        </mat-tab>
        <mat-tab label="Pending">
          <ng-container *ngTemplateOutlet="Transaction"></ng-container>
        </mat-tab>
      </mat-tab-group>
      <ng-template #actionTemplate>
        <div class="row g-2">
          <div class="col-md-6 m-t-10">
            <div class="grid">
              <button class="grid b-rad-20" mat-stroked-button>
                <span class="text-truncate w-100">View all Transaction History</span>
              </button>
            </div>
          </div>
          <div class="col-md-6 m-t-10">
            <div class="grid">
              <button class="grid b-rad-20" mat-flat-button color="primary">
                <span class="text-truncate w-100">Create new Transaction</span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card cardTitle="Payment History" headerClass="transaction-card-header" padding="0" actionClass="card-action block">
      <ng-template #headerOptionsTemplate>
        <div class="avatar avatar-s hover">
          <i class="ti ti-plus f-18"></i>
        </div>
      </ng-template>
      <ul class="list-group list-group-flush">
        @for (task of payment; track task) {
          <li class="list-group-item">
            <div class="flex align-item-center">
              <div class="flex-shrink-0 m-r-10">
                <div class="avatar avatar-s bg-accent-300">
                  <img src="{{ task.img }}" alt="img" class="img-fluid" />
                </div>
              </div>
              <div class="flex-grow-1">
                <p class="m-b-5 f-w-500">{{ task.payment_name }}</p>
                <div class="f-w-600">
                  {{ task.amount }}
                  <span class="mat-caption f-w-500" class="{{ task.color }}">{{ task.percentage }}</span>
                </div>
              </div>
              <div class="flex-shrink-0 m-l-10">
                <a [matMenuTriggerFor]="paymentInfo" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
                <mat-menu #paymentInfo="matMenu">
                  <a href="javascript:" mat-menu-item>Name</a>
                  <a href="javascript:" mat-menu-item>Date</a>
                  <a href="javascript:" mat-menu-item>Rating</a>
                  <a href="javascript:" mat-menu-item>Unread</a>
                </mat-menu>
              </div>
            </div>
          </li>
        }
      </ul>
      <ng-template #actionTemplate>
        <div class="grid">
          <button mat-stroked-button class="b-rad-20">View All</button>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [showHeader]="false">
      <div class="flex align-item-center justify-content-between m-b-15">
        <div class="f-16 f-w-600">Add new task</div>
        <a [matMenuTriggerFor]="menu" class="avatar avatar-small hover"><i class="ti ti-dots-vertical f-18"></i></a>
      </div>
      <div class="flex align-item-center m-y-15">
        <div class="flex-shrink-0">
          <div class="avatar avatar-s bg-success-50 text-success-500">
            <i class="ti ti-list-check f-20"></i>
          </div>
        </div>
        <div class="flex-grow-1 m-l-15">
          <div class="f-w-500">
            New Tasks
            <span class="user-status bg-accent-200">20</span>
          </div>
        </div>
      </div>
      <div class="m-y-15">
        <p class="m-b-10">
          Tasks done
          <span class="float-end">30%</span>
        </p>
        <mat-progress-bar mode="determinate" color="primary" value="50"></mat-progress-bar>
      </div>
      <div class="grid gap">
        <a href="javascript:">
          <div class="flex align-item-center">
            <div class="flex-shrink-0 m-r-10">
              <div class="dot wid-10 hei-10"></div>
            </div>
            <div class="flex-grow-1">
              <p class="m-b-0 grid text-start">
                <span class="text-muted text-truncate w-100">Introduction for client</span>
              </p>
            </div>
            <div class="user-status bg-accent-300 text-muted m-l-10 f-12">
              <i class="ti ti-paperclip mat-small"></i>
              2
            </div>
          </div>
        </a>
        <a href="javascript:">
          <div class="flex align-item-center">
            <div class="flex-shrink-0 m-r-10">
              <div class="dot wid-10 hei-10"></div>
            </div>
            <div class="flex-grow-1">
              <p class="m-b-0 grid text-start">
                <span class="text-muted text-truncate w-100">Creating WireFrames</span>
              </p>
            </div>
            <div class="user-status bg-accent-300 text-muted m-l-10 f-12">
              <i class="ti ti-paperclip mat-small"></i>
              8
            </div>
          </div>
        </a>
      </div>
      <div class="grid m-t-15">
        <button mat-flat-button color="primary" class="b-rad-20">
          <i class="ti ti-plus f-18"></i>
          Add Task
        </button>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Incoming Requests" padding="0">
      <ng-template #headerOptionsTemplate>
        <a href="javascript:" class="text-primary-500">View All</a>
      </ng-template>
      <div class="p-b-10">
        <ng-scrollbar style="height: 456px; position: relative" visibility="hover" [dir]="direction">
          <div class="m-t-15">
            @for (task of incoming; track task; let last = $last) {
              <span class="p-x-20">
                <i class="fas fa-circle {{ task.color }} f-10 m-r-5"></i>
                {{ task.text }}
              </span>
              <mat-divider [ngClass]="{ 'm-y-15': !last }"></mat-divider>
            }
          </div>
        </ng-scrollbar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Total Revenue" padding="0">
      <div class="p-b-10">
        <ng-scrollbar style="height: 456px; position: relative" visibility="hover" [dir]="direction">
          <table mat-table [dataSource]="RevenueSource" class="mat-elevation-z8 revenue-table">
            <ng-container matColumnDef="icon">
              <td mat-cell *matCellDef="let element" class="revenue-icon p-l-25">
                <i class="{{ element.icon }} {{ element.color }} f-24"></i>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <td mat-cell *matCellDef="let element">
                <div class="f-w-600 {{ element.color }}">{{ element.value }}</div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: totalRevenue"></tr>
          </table>
        </ng-scrollbar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [showHeader]="false" cardClass="task-card" padding="0">
      <div class="tasks-header p-20">
        <div class="flex align-item-center justify-content-between">
          <div class="f-16 f-w-600">Tasks</div>
          <a href="javascript:" class="text-primary-500">View All</a>
        </div>
      </div>
      <div class="task-body p-20">
        <ul class="task-list p-l-0">
          <li>
            <i class="ti ti-check f-w-600 task-icon bg-success-500"></i>
            <div class="m-b-5 f-16 f-w-600">8:50</div>
            <div class="text-muted">
              Call to customer
              <span class="text-primary-500"><a href="javascript:" class="text-primary-500">Jacob</a></span>
              and discuss the
            </div>
          </li>
          <li>
            <i class="task-icon bg-primary-500"></i>
            <div class="m-b-5 f-16 f-w-600">Sat, 5 Mar</div>
            <div class="text-muted">Design mobile Application</div>
          </li>
          <li>
            <i class="task-icon bg-warn-500"></i>
            <div class="m-b-5 f-16 f-w-600">Sun, 17 Feb</div>
            <div class="text-muted">
              <span class="text-primary-500"><a href="javascript:" class="text-primary-500">Jeny</a></span>
              assign you a task
              <span class="text-primary-500"><a href="javascript:" class="text-primary-500">Mockup Design.</a></span>
            </div>
          </li>
          <li>
            <i class="task-icon bg-accent-500"></i>
            <div class="m-b-5 f-16 f-w-600">Sat, 18 Mar</div>
            <div class="text-muted">Design logo</div>
          </li>
          <li class="p-b-15 m-b-10">
            <i class="task-icon bg-success-500"></i>
            <div class="m-b-5 f-16 f-w-600">Sat, 22 Mar</div>
            <div class="text-muted">Design mobile Application</div>
          </li>
        </ul>
        <div class="text-end">
          <a href="javascript:" class="text-primary-500">View Friend List</a>
        </div>
      </div>
    </app-card>
  </div>
</div>

<ng-template #Transaction>
  <ul class="list-group list-group-flush">
    @for (task of List_transaction; track task) {
      <li class="list-group-item">
        <div class="flex align-item-center">
          <div class="flex-shrink-0">
            <div class="avatar avatar-s border {{ task.bg }}" matTooltip="{{ task.tooltip }}">{{ task.icon }}</div>
          </div>
          <div class="flex-grow-1 m-l-15">
            <div class="row g-1">
              <div class="col-6">
                <div class="f-w-500">{{ task.name }}</div>
                <div class="text-muted mat-caption">{{ task.time }}</div>
              </div>
              <div class="col-6 text-end">
                <div class="f-w-600">{{ task.amount }}</div>
                <p class="{{ task.amount_type }} mat-caption f-w-500">
                  <i class="{{ task.amount_position }}"></i>
                  {{ task.percentage }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
</ng-template>
