<h2 mat-dialog-title>{{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_TITLE' | translate }}</h2>

<mat-dialog-content>
  <p class="dialog-note">{{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_HINT' | translate }}</p>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_PLAYER_ID' | translate }}</mat-label>
      <input matInput formControlName="playerId" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_TITLE_FIELD' | translate }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_MESSAGE' | translate }}</mat-label>
      <textarea matInput rows="3" formControlName="message"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()" [disabled]="submitting">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button mat-flat-button color="primary" type="button" (click)="submit()" [disabled]="submitting">
    @if (submitting) {
      <mat-spinner diameter="18"></mat-spinner>
    } @else {
      {{ 'ADMIN_SETTINGS.NOTIFICATIONS.TEST_SUBMIT' | translate }}
    }
  </button>
</mat-dialog-actions>
