<div class="col-md-12">
     <!-- Expandable Form Section -->
    <mat-accordion>
      <mat-expansion-panel [expanded]="formOpen">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Supplier Form
          </mat-panel-title>
          <mat-panel-description>
            {{ editingRecordIndex >= 0 ? 'Update Supplier' : 'Create Supplier' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Supplier Form -->
        <form  [formGroup]="supplierForm">
          <!-- Supplier Info Group - Row 1 -->
          <div class="row" formGroupName="supplierInfo">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input formControlName="name" matInput placeholder="Enter first name" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" matInput placeholder="Enter last name" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Enter email" />
              </mat-form-field>
            </div>
          </div>

          <!-- Supplier Info Group - Row 2 -->
          <div class="row" formGroupName="supplierInfo">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput placeholder="Enter phone" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput placeholder="Enter address" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Region</mat-label>
                <mat-select (selectionChange)="onSelectRegion($event.value)" [compareWith]="objectComparisonFunction"
                            formControlName="region">
                  <mat-option *ngFor="let region of regions" [value]="region">
                    {{ region.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Additional Supplier Fields -->
          <div class="row" formGroupName="supplierInfo">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>RIB</mat-label>
                <input formControlName="rib" matInput placeholder="Enter RIB" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bank Name</mat-label>
                <input formControlName="bankName" matInput placeholder="Enter bank name" />
              </mat-form-field>
            </div>
          </div>

          <!-- Supplier Type Dropdown -->
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Supplier Type</mat-label>
                <mat-select [compareWith]="objectComparisonFunction" formControlName="genericSupplierType">
                  <mat-option *ngFor="let type of supplierTypes" [value]="type">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Form Buttons -->
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <button [disabled]="supplierForm.invalid" color="primary" mat-raised-button (click)="onSubmit()">
                {{ editingRecordIndex >= 0 ? 'Update' : 'Create' }} Supplier
              </button>
              <button (click)="cancelEdit()" *ngIf="editingRecordIndex >= 0" color="warn" mat-button type="button">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
 </div>
<osm-dashboard
  [config]="dashboardConfig"
  (applyAction)="handleAction($event)">
</osm-dashboard>
