<div class="landing-page">
  <!-- [ Header ] start -->
  <section class="landing-hero">
    <div class="container">
      <div class="row justify-content-center start-landing">
        <div class="col-xl-9 col-md-10 text-center">
          @defer (on viewport; prefetch on viewport) {
            <h1 class="m-b-25 animate__animated animate__delay-1s animate__fadeInUp">
              Explore One of the
              <span class="hero-text-gradient">Featured Dashboard</span>
              Template in Themeforest
            </h1>
            <div class="row justify-content-center animate__animated animate__delay-2s animate__fadeInUp">
              <div class="col-md-8">
                <p class="f-16 text-muted">
                  Able Pro is the one of the Featured admin dashboard template in Envato Marketplace and used by over 5.5K+ Customer
                  worldwide.
                </p>
              </div>
            </div>
            <div class="preview-button animate__animated animate__delay-3s animate__fadeInUp">
              <a mat-stroked-button [routerLink]="['/components/input/button']" class="m-r-10 b-rad-20 component">Explore Components</a>
              <a mat-flat-button class="b-rad-20" color="primary" [routerLink]="['/login']" [matMenuTriggerFor]="menu">Live Preview</a>
              <mat-menu #menu="matMenu" (closed)="resetIcon()">
                @for (item of techDetails; track item) {
                  @if (item.tech_name === 'Angular') {
                    <a
                      [matTooltip]="item.tooltip"
                      mat-menu-item
                      class="drp-tech-link text-muted f-w-500"
                      (click)="open(item)"
                      [target]="item.target === true ? '_blank' : '_self'"
                    >
                      <img src="{{ item.images }}" alt="img" class="img-fluid wid-30" />
                      {{ item.tech_name }}
                    </a>
                  } @else {
                    <a
                      [matTooltip]="item.tooltip"
                      mat-menu-item
                      class="drp-tech-link text-muted f-w-500"
                      href="{{ item.url + buyNowLinkService.queryString }}"
                      [target]="item.target === true ? '_blank' : '_self'"
                    >
                      <img
                        src="{{ item.images }}"
                        alt="img"
                        class="img-fluid wid-30"
                        [ngStyle]="{ filter: item.url === 'javascript:' ? 'grayscale(1)' : '' }"
                      />
                      {{ item.tech_name }}
                    </a>
                  }
                }
              </mat-menu>
            </div>
            <div class="row justify-content-center sale-rating animate__animated animate__delay-4s animate__fadeInUp">
              <div class="col-auto head-rating-block">
                <div class="star m-b-10">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="m-b-0 f-20 f-w-600">
                  4.7/5
                  <span class="text-muted f-16 f-w-400">Ratings</span>
                </div>
              </div>
              <div class="col-auto p-x-25">
                <div class="m-b-10 text-muted f-16">Sales</div>
                <div class="m-b-0 f-20 f-w-600">5.5K+</div>
              </div>
            </div>
            <div class="m-t-45">
              <p class="text-muted m-b-25 animate__animated animate__delay-5s animate__fadeInUp">
                - Click Below Icon to Preview Each Tech Demos -
              </p>
            </div>
          } @placeholder {
            <div></div>
          }
        </div>
      </div>
    </div>
    <div class="technology-block">
      <div class="tech-block">
        @for (item of techDetails; track item; let i = $index) {
          @defer (on viewport; prefetch on viewport) {
            @if (item.tech_name === 'Angular') {
              <a
                matTooltip="{{ item.tooltip }}"
                (click)="open(item)"
                [target]="item.target === true ? '_blank' : '_self'"
                class="animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp"
              >
                <img src="{{ item.images }}" alt="img" class="img-fluid" />
              </a>
            } @else {
              <a
                matTooltip="{{ item.tooltip }}"
                href="{{ item.url + buyNowLinkService.queryString }}"
                [target]="item.target === true ? '_blank' : '_self'"
                class="animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp"
              >
                <img src="{{ item.images }}" alt="img" class="img-fluid" />
              </a>
            }
          } @placeholder {
            <div></div>
          }
        }
      </div>
    </div>
  </section>
  <!-- [ Header ] End -->
  <!-- [Available Technologies] start -->
  <section>
    <div class="container title">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-xl-6">
          <h2 class="m-b-15 f-w-600">Available Technologies</h2>
          <p class="m-b-0">Explore the Demos of Able Pro in multiple technologies.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-item-center mb-4 mb-sm-2 justify-content-center">
        @for (item of techDetails; track item; let i = $index) {
          @defer (on viewport; prefetch on viewport) {
            <div class="col-md-6 col-lg-4 animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp">
              <app-card [showHeader]="false">
                <img src="{{ item.images }}" alt="img" class="img-fluid" />
                <div class="f-20 f-w-600 m-b-15">{{ item.tech_name }}</div>
                <p class="text-muted">
                  {{ item.description }}
                </p>
                <div class="tech-btn">
                  @if (item.tech_name === 'Angular') {
                    <a
                      mat-stroked-button
                      class="b-rad-20 bg-accent-300 text-muted"
                      (click)="open(item)"
                      [target]="item.target === true ? '_blank' : '_self'"
                    >
                      <i class="ti ti-external-link f-16"></i>
                      {{ 'Preview' + item.tech_name }}
                    </a>
                  } @else {
                    <a
                      mat-stroked-button
                      class="b-rad-20 bg-accent-300 text-muted"
                      [target]="item.target === true ? '_blank' : '_self'"
                      href="{{ item.url + buyNowLinkService.queryString }}"
                    >
                      <i class="ti ti-external-link f-16"></i>
                      {{ 'Preview ' + item.tech_name }}
                    </a>
                  }
                  @if (item.freeRepo === true) {
                    <div class="mat-body github">
                      <a href="https://github.com/phoenixcoded/able-pro-free-admin-dashboard-template" target="_blank">
                        <i class="ti ti-brand-github f-22"></i>
                      </a>
                    </div>
                  }
                </div>
              </app-card>
            </div>
          } @placeholder {
            <div></div>
          }
        }
      </div>
    </div>
  </section>
  <!-- [Available Technologies] End -->
  <!-- [ Figma Section ] Start -->
  <section class="p-t-0">
    <div class="container title">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-xl-6">
          <h2 class="m-b-15 f-w-600">The Complete Figma Design System to Save Hundreds of Hours</h2>
          <p class="m-b-0">
            Optimize your workflow with 100% Auto Layout, variables, smart variants, and WCAG accessibility. Enjoy super-smart global
            colors, typography, and effects styles + variables, crafted for seamless design efficiency!
          </p>
        </div>
      </div>
    </div>
    @defer (on viewport; prefetch on viewport) {
      <div class="row justify-content-center text-center m-b-25">
        <div class="col-md-8 col-xl-6">
          <img
            [src]="isDark ? 'assets/images/landing/figma-dark.png' : 'assets/images/landing/figma-light.png'"
            alt="figma"
            class="img-fluid animate__animated animate__delay-1s animate__fadeInUp"
          />
        </div>
      </div>
    } @placeholder {
      <div></div>
    }
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-xl-6">
        @defer (on viewport; prefetch on viewport) {
          <div class="flex align-item-center justify-content-center gap-2">
            <a
              mat-stroked-button
              color="secondary"
              class="b-rad-20 bg-accent-300 text-muted animate__animated animate__delay-1s animate__fadeInUp"
              href="https://codedthemes.com/item/able-pro-free-figma-ui-kit/"
              target="_blank"
            >
              <i class="ti ti-download f-16"></i>
              Free Figma
            </a>
            <a
              mat-flat-button
              color="primary"
              class="b-rad-20 bg-accent-300 text-muted animate__animated animate__delay-2s animate__fadeInUp"
              href="https://codedthemes.com/item/able-pro-figma-ui-kit/"
              target="_blank"
            >
              <i class="ti ti-shopping-cart f-16"></i>
              Buy Figma
            </a>
          </div>
        } @placeholder {
          <div></div>
        }
      </div>
    </div>
  </section>
  <!-- [ Figma Section ] End -->
  <!-- [ Top Features ] start -->
  <section class="p-t-0">
    <div class="container title">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-xl-6">
          <h2 class="m-b-15 f-w-600">Complete Combo</h2>
          <p class="m-b-0">
            Able Pro caters to the needs of both developers and designers, whether they are
            <br />
            beginners or experts.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        @defer (on viewport; prefetch on viewport) {
          <!-- <div class="col-md-6 col-lg-4">
          <app-card [showHeader]="false">
            <div class="m-b-15 f-16 f-w-600">Figma Design System</div>
            <p class="text-muted">Check the live preview of Able Pro Figma design file. Figma file included in all licenses.</p>
            <img src="assets/images/landing/feature-figma.png" alt="img" class="p-t-5 w-100" />
            <a
              mat-stroked-button
              class="m-t-15 b-rad-20 bg-accent-300 text-accent-900"
              href="https://www.figma.com/file/6XqmRhRmkr33w0EFD49acY/Able-Pro--v9.0-Figma-Preview?type=design&mode=design&t=0XZ5hhGAwBPr4Qlj-0"
              target="_blank"
            >
              Preview Figma
              <i class="ti ti-external-link f-18"></i>
            </a>
          </app-card>
        </div> -->
          <div class="col-md-6 animate__animated animate__delay-1s animate__fadeInUp">
            <app-card [showHeader]="false" cardClass="h-100">
              <div class="m-b-15 f-16 f-w-600">Explore Components</div>
              <p class="text-muted">Access all components of Able Pro in one place to make your development work easier.</p>
              <img src="assets/images/landing/feature-components.png" alt="img" class="p-t-5 w-100" />
              <a
                mat-stroked-button
                class="m-t-15 b-rad-20 bg-accent-300 text-accent-900"
                matTooltip="View All Component"
                (click)="openAllComponents()"
              >
                View All Components
                <i class="ti ti-external-link f-18"></i>
              </a>
            </app-card>
          </div>
          <div class="col-md-6 animate__animated animate__delay-2s animate__fadeInUp">
            <app-card [showHeader]="false" cardClass="h-100">
              <div class="m-b-15 f-16 f-w-600">Documentation</div>
              <p class="text-muted">Find solutions and navigate through our helper guide with ease.</p>
              <img src="assets/images/landing/feature-documentation.png" alt="img" class="p-t-5 w-100" />
              <a
                mat-stroked-button
                class="m-t-15 b-rad-20 bg-accent-300 text-accent-900"
                href="https://phoenixcoded.gitbook.io/able-pro"
                target="_blank"
                matTooltip="Documentation"
              >
                Check Documentation
                <i class="ti ti-external-link f-18"></i>
              </a>
            </app-card>
          </div>
        } @placeholder {
          <div></div>
        }
      </div>
    </div>
  </section>
  <!-- [ Top Features ] End -->
  <!-- [ working apps ] start -->
  <section class="working-block">
    <div class="container title text-white">
      <div class="row justify-content-center text-center working-title">
        <h2 class="m-b-15">Working Conceptual Apps</h2>
        <p class="m-b-0">
          Each App is carefully crafted to achieve the best feature rich working
          <br />
          concept for your project.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="menu-block">
            @defer (on viewport; prefetch on viewport) {
              @for (link of links; track link; let i = $index) {
                <a
                  (click)="owlCar.to(link.id); currentSlide = link.id"
                  [class.active]="currentSlide === link.id"
                  class="app-link animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp"
                >
                  <h4 class="text-white m-b-10 f-20 f-w-500">{{ link.title }}</h4>
                  <p class="m-b-0 text-white">{{ link.description }}</p>
                </a>
              }
            } @placeholder {
              <div></div>
            }
          </div>
        </div>
        <div class="col-md-6 menu-content-block">
          <owl-carousel-o [options]="applicationPageSlider" #owlCar>
            @for (item of carouselData; track item) {
              <ng-template carouselSlide [id]="item.id">
                <img src="{{ isDark ? item.imgDark : item.img }}" alt="img" class="img-fluid" />
              </ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
  <!-- [ working apps ] End -->
  <!-- [ Applications apps ] start -->
  <section class="application-block">
    <div class="container">
      <div class="row">
        @defer (on viewport; prefetch on viewport) {
          <div class="col-md-8 animate__animated animate__delay-2s animate__fadeInUp">
            <h2 class="m-b-15">
              <span class="text-primary-500">TRY</span>
              BEFORE BUY
            </h2>
            <p class="mat-body m-b-0">Download the Free MIT Able Pro Dashboard Template before make your purchase decision.</p>
          </div>
          <div class="col-md-4 animate__animated animate__delay-3s animate__fadeInUp">
            <div class="flex align-item-center">
              <a mat-stroked-button class="b-rad-25 m-r-10" href="https://ableproadmin.com/angular/default/login" target="_blank">
                Check Out Pro Version
              </a>
              <a
                mat-flat-button
                color="primary"
                class="b-rad-25"
                href="https://github.com/phoenixcoded/able-pro-free-admin-dashboard-template"
                target="_blank"
              >
                <i class="ti ti-brand-github f-18"></i>
                Free Version
              </a>
            </div>
          </div>
        } @placeholder {
          <div></div>
        }
      </div>
    </div>
  </section>
  <!-- [ Applications apps ] End -->
  <!-- [ support team apps ] start -->
  <section class="support-block">
    <div class="container title">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-xl-6">
          <h2 class="m-b-15">
            They
            <span class="text-primary-500">love</span>
            Able Pro, Now your turn 😍
          </h2>
          <p class="m-b-0">
            We take pride in our Dashboard development, which has been consistently rated 4.7/5
            <br />
            by our satisfied customers. It brings us joy to share the positive feedback we have
            <br />
            received from our loyal clients.
          </p>
        </div>
      </div>
    </div>
    <div class="main-marquee">
      <div class="marquee">
        <ul class="list-inline marquee-list h2">
          @for (list of support; track list) {
            <li class="list-inline-item">
              <app-card [showHeader]="false" cardClass="slider-card">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <img src="{{ list.img }}" alt="user-image" class="wid-60 hei-60" />
                  </div>
                  <div class="flex-grow-1 m-l-15">
                    <p class="m-b-5 text-wrap">{{ list.text }}</p>
                    <small>
                      {{ list.author }} -
                      <span class="text-muted">{{ list.describe }}</span>
                    </small>
                  </div>
                </div>
              </app-card>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="main-marquee">
      <div class="marquee-1">
        <ul class="list-inline marquee-list h2">
          @for (list of support; track list) {
            <li class="list-inline-item">
              <app-card [showHeader]="false" cardClass="slider-card">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <img src="{{ list.img }}" alt="user-image" class="wid-60 hei-60" />
                  </div>
                  <div class="flex-grow-1 m-l-15">
                    <p class="m-b-5 text-wrap">{{ list.text }}</p>
                    <small>
                      {{ list.author }} -
                      <span class="text-muted">{{ list.describe }}</span>
                    </small>
                  </div>
                </div>
              </app-card>
            </li>
          }
        </ul>
      </div>
    </div>
  </section>
  <!-- [ support team apps ] End -->
  <!-- [ companies apps ] Start -->
  <section class="companies-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="m-b-10 f-w-700">Trusted By</h2>
          <p class="companies-review text-muted">From Startups to Fortune 500 companies using our Template for their product.</p>
          <div class="row companies-images">
            @defer (on viewport; prefetch on viewport) {
              @for (item of trustedBy; track item; let i = $index) {
                <div class="col-auto">
                  <img [src]="item.images" alt="img" class="img-fluid animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp" />
                </div>
              }
            } @placeholder {
              <div></div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- [ companies apps ] End -->
  <!-- [ footer ] Start -->
  <section class="footer-block">
    <div class="container footer-top">
      <div class="row">
        <div class="col-md-10">
          <h2 class="f-w-600">Need Support?</h2>
          <p class="mat-body">Have questions? Our expert support team is ready to help. Submit a ticket, and we’ll assist you promptly.</p>
        </div>
        <div class="col-md-2">
          <a mat-flat-button color="primary" href="https://phoenixcoded.authordesk.app/" target="_blank">Get Support</a>
        </div>
      </div>
    </div>
    <div class="footer-center">
      <div class="container">
        <div class="row">
          @defer (on viewport; prefetch on viewport) {
            <div class="col-md-4 animate__animated animate__delay-1s animate__fadeInLeft">
              <img src="assets/images/logo-dark.svg" alt="logo" class="img-fluid m-b-15" />
              <p class="m-b-25">
                Phoenixcoded has gained the trust of over 5.5k+ customers since 2015, thanks to our commitment to delivering high-quality
                products. Our experienced team players are responsible for managing Able Pro.
              </p>
            </div>
            <div class="col-md-8">
              <div class="row">
                @for (item of footerSection; track item; let i = $index) {
                  <div class="col-sm-4">
                    <div class="m-b-25 f-16 f-w-500 animate__animated animate__delay-{{ i + 1 }}s animate__fadeInRight">
                      {{ item.title }}
                    </div>
                    <ul class="footer-link">
                      @for (items of item.footerLink; track items; let i = $index) {
                        <li>
                          <a [href]="items.link" target="_blank" class="animate__animated animate__delay-{{ i + 1 }}s animate__fadeInRight">
                            {{ items.title }}
                          </a>
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
            </div>
          } @placeholder {
            <div></div>
          }
        </div>
      </div>
    </div>
    <div class="container footer-end">
      <div class="flex align-item-center">
        @defer (on viewport; prefetch on viewport) {
          <div class="left-section animate__animated animate__delay-1s animate__fadeInUp">
            © Handcrafted by Team
            <a href="https://themeforest.net/user/phoenixcoded" target="_blank" class="text-primary-500">Phoenixcoded</a>
          </div>
          <div class="right-section">
            <ul class="footer-link p-l-0">
              <li>
                @for (socialMedia of socialLinks; track $index; let i = $index) {
                  <a
                    [href]="socialMedia.url"
                    target="_blank"
                    class="avatar avatar-xs animate__animated animate__delay-{{ i + 1 }}s animate__fadeInUp"
                  >
                    <i class="{{ socialMedia.icon }} f-22"></i>
                  </a>
                }
              </li>
            </ul>
          </div>
        } @placeholder {
          <div></div>
        }
      </div>
    </div>
  </section>
  <!-- [ footer ] End -->
</div>
