<div class="auth-main">
  <div class="auth-wrapper version-2">
    <div class="auth-side-content">
      <img src="assets/images/authentication/img-auth-sideimg.jpg" alt="images" class="img-fluid img-auth-side" />
    </div>
    <div class="auth-form">
      <app-card [showHeader]="false" class="auth-form-card" padding="40">
        <div class="forgot-logo m-b-25">
          <a href="javascript:">
            <img src="assets/images/logo-dark.svg" alt="logo" />
          </a>
        </div>
        <div class="check-me m-b-10">
          <h3 class="m-b-0">Reset Password</h3>
        </div>
        <p class="text-muted forgot-logo m-b-25">Please choose your new password</p>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Your Password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="coHide ? 'password' : 'text'" placeholder="Enter Your Confirm Password" />
          <button mat-icon-button matSuffix (click)="coHide = !coHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="coHide">
            <mat-icon>{{ coHide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="grid">
          <button mat-flat-button color="primary" class="b-rad-20 m-t-20">Reset Password</button>
        </div>
      </app-card>
    </div>
  </div>
</div>
