<app-card cardTitle="Total Expenses">
  <ng-template #headerOptionsTemplate>
    <a [matMenuTriggerFor]="menu" href="javascript:" class="avatar avatar-xs hover text-accent-500">
      <i class="ti ti-dots-vertical f-18"></i>
    </a>
    <mat-menu #menu="matMenu">
      <a mat-menu-item>Today</a>
      <a mat-menu-item>Weekly</a>
      <a mat-menu-item>Monthly</a>
    </mat-menu>
  </ng-template>
  <div id="chart">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [colors]="chartOptions.colors"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [plotOptions]="chartOptions.plotOptions"
      [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
  @for (list of expenses; track list; let last = $last; let first = $first) {
    <div class="flex align-item-center justify-content-between" [ngClass]="{ 'm-b-10': !last, 'm-t-15': first }">
      <div class="f-w-600 flex align-item-center gap-2">
        <i class="fas fa-circle {{ list.color }} f-12"></i>
        {{ list.title }}
      </div>
      <p class="m-b-0 text-muted">{{ list.value }}</p>
    </div>
  }
</app-card>
