@if (!item().hidden) {
  <li class="nav-item coded-menu-caption menu-section-caption">
    <label>
      @if (item().icon) {
        <mat-icon class="coded-micon menu-section-caption__icon">{{ item().icon }}</mat-icon>
      }
      <span class="menu-section-caption__text">{{ item().title | translate }}</span>
    </label>
  </li>
  @for (items of item().children; track $index) {
    @if (items.type === 'collapse') {
      <app-menu-collapse [item]="items" [parentRole]="item().role" />
    } @else if (items.type === 'item') {
      <app-menu-item [item]="items" [parentRole]="item().role" />
    }
  }
}
