.filter-item {
  margin-right: 16px;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /* utile pour le responsive */
}

.reset-btn {
  align-self: center;
  margin-top: 8px;
}

