@if (!item()!.hidden) {
  @if (item()!.url && !item()!.external) {
    <li [ngClass]="item().classes!" [routerLinkActive]="['active']">
      <a class="nav-link"
         [target]="item().target ? '_blank' : '_self'"
         [routerLink]="[item().url]"
         (click)="closeOtherMenu()">
        <mat-icon *ngIf="item().icon" class="coded-micon">{{ item().icon }}</mat-icon>
        <span class="coded-mtext" *ngIf="item().icon">{{ item().title }}</span>
        <span *ngIf="!item().icon">{{ item().title }}</span>
      </a>
    </li>
  } @else if (item()!.url && item()!.external) {
    <li [ngClass]="item()!.classes!">
      <a [target]="item().target ? '_blank' : '_self'"
         [href]="item()!.url">
        <mat-icon *ngIf="item().icon" class="coded-micon">{{ item().icon }}</mat-icon>
        <span class="coded-mtext" *ngIf="item().icon">{{ item().title }}</span>
        <span *ngIf="!item().icon">{{ item().title }}</span>
      </a>
    </li>
  }
}
