<mat-tab-group>
  <mat-tab [label]="'CONFIGURATION.TABS.SITE' | translate">
    <div class="p-4">
      <!-- Contenu pour la configuration du site -->
      <h3>{{ 'CONFIGURATION.SITE.TITLE' | translate }}</h3>
      <form [formGroup]="siteForm" class="grid gap-4 p-4">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.COMPANY' | translate }}</mat-label>
          <input matInput formControlName="societe" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.PATENT_NUMBER' | translate }}</mat-label>
          <input matInput formControlName="numPatente" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.BANK' | translate }}</mat-label>
          <input matInput formControlName="bank" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.RIB' | translate }}</mat-label>
          <input matInput formControlName="rib" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.ADDRESS' | translate }}</mat-label>
          <textarea matInput formControlName="adresse"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.WEBSITE' | translate }}</mat-label>
          <input matInput formControlName="siteWeb" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.PHONE1' | translate }}</mat-label>
          <input matInput formControlName="tel1" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIGURATION.SITE.FIELDS.PHONE2' | translate }}</mat-label>
          <input matInput formControlName="tel2" />
        </mat-form-field>

        <div>
          <label>{{ 'CONFIGURATION.SITE.FIELDS.LOGO' | translate }} :</label>
          <input type="file" (change)="onFileChange($event)" />
          <div *ngIf="logoPreview" class="mt-2">
            <img [src]="logoPreview" alt="Logo Preview" width="150" />
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="ajouter()" [disabled]="siteForm.invalid">
          {{ 'CONFIGURATION.SITE.BTNS.SAVE' | translate }}
        </button>
      </form>
    </div>
  </mat-tab>

  <mat-tab [label]="'CONFIGURATION.TABS.RECEPTION' | translate">
    <div class="p-4">
      <h3>{{ 'CONFIGURATION.RECEPTION.TITLE' | translate }}</h3>
      <div class="col-md-12">
        <app-card [cardTitle]="'CONFIGURATION.RECEPTION.TITLE' | translate">
          <div class="row">
            <!-- Left Side: Form -->
            <div class="col-md-12">
              <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'CONFIGURATION.RECEPTION.FIELDS.NAME' | translate }}</mat-label>
                      <input matInput formControlName="name" [placeholder]="'CONFIGURATION.RECEPTION.FIELDS.NAME' | translate" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'CONFIGURATION.RECEPTION.FIELDS.DESCRIPTION' | translate }}</mat-label>
                      <input matInput formControlName="description" [placeholder]="'CONFIGURATION.RECEPTION.FIELDS.DESCRIPTION' | translate" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'CONFIGURATION.RECEPTION.FIELDS.TYPE' | translate }}</mat-label>
                      <mat-select (selectionChange)="onTypeChange($event.value)">
                        <mat-option *ngFor="let type of typeOptions" [value]="type.value">
                          {{ type.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" type="submit" [disabled]="recordForm.invalid">
                      {{ editingRecordIndex >= 0 ? ('CONFIGURATION.RECEPTION.BTNS.UPDATE' | translate) : ('CONFIGURATION.RECEPTION.BTNS.CREATE' | translate) }}
                    </button>
                    <button mat-button color="warn" type="button" (click)="cancelEdit()" *ngIf="editingRecordIndex >= 0">
                      {{ 'CONFIGURATION.RECEPTION.BTNS.CANCEL' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <mat-form-field class="m-b-15 w-100">
              <mat-label>{{ 'CONFIGURATION.RECEPTION.FIELDS.FILTER' | translate }}</mat-label>
              <input matInput (keyup)="applyFilter($event)" [placeholder]="'CONFIGURATION.RECEPTION.FIELDS.FILTER' | translate" #input />
            </mat-form-field>
          </div>

          <!-- Table displaying records below the form -->
          <div class="table-responsive" style="margin-top: 20px;">
            <table mat-table [dataSource]="FilterSource" class="mat-elevation-z8 w-100">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'CONFIGURATION.RECEPTION.TABLE.NAME' | translate }}</th>
                <td mat-cell *matCellDef="let record">{{ record.name }}</td>
              </ng-container>
              <!-- Type Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>{{ 'CONFIGURATION.RECEPTION.TABLE.TYPE' | translate }}</th>
                <td mat-cell *matCellDef="let record">{{ record.type }}</td>
              </ng-container>
              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>{{ 'CONFIGURATION.RECEPTION.TABLE.DESCRIPTION' | translate }}</th>
                <td mat-cell *matCellDef="let record">{{ record.description }}</td>
              </ng-container>
              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'CONFIGURATION.RECEPTION.TABLE.ACTIONS' | translate }}</th>
                <td mat-cell *matCellDef="let record">
                  <!-- Edit icon -->
                  <button mat-icon-button color="primary" (click)="openDialog(record)" matTooltip="{{ 'STANDARD.BTNS.EDIT' | translate }}">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- Delete icon -->
                  <button mat-icon-button color="warn" (click)="deleteRecord(record)" matTooltip="{{ 'STANDARD.BTNS.DELETE' | translate }}">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </app-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab [label]="'CONFIGURATION.TABS.PRODUCTION' | translate">
    <div class="p-4">
      <!-- Contenu pour la configuration de la production -->
      <h3>{{ 'CONFIGURATION.PRODUCTION.TITLE' | translate }}</h3>
    </div>
  </mat-tab>

  <mat-tab [label]="'CONFIGURATION.TABS.STOCK' | translate">
    <div class="p-4">
      <!-- Contenu pour la configuration du stock -->
      <h3>{{ 'CONFIGURATION.STOCK.TITLE' | translate }}</h3>
    </div>
  </mat-tab>
</mat-tab-group>


