<app-card [icon]="'account_balance'" [cardTitle]="'BANK_ACCOUNTS.DETAILS_TITLE' | translate">


  <div class="details-container">
    <div *ngIf="loading" class="loading-container">
      <mat-progress-spinner diameter="40"></mat-progress-spinner>
    </div>

    <div *ngIf="!loading && bankAccount" class="details-content">
      <div class="details-row">
        <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.RIB' | translate }}:</div>
        <div class="details-value">{{ bankAccount.rib }}</div>
      </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.IBAN' | translate }}:</div>
              <div class="details-value">{{ bankAccount.iban }}</div>
            </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.BIC_SWIFT' | translate }}:</div>
              <div class="details-value">{{ bankAccount.bicSwift }}</div>
            </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.BANK_NAME' | translate }}:</div>
              <div class="details-value">{{ bankAccount.bankName }}</div>
            </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.BANK_BRANCH' | translate }}:</div>
              <div class="details-value">{{ bankAccount.bankBranch }}</div>
            </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.CURRENCY' | translate }}:</div>
              <div class="details-value">{{ bankAccount.currency }}</div>
            </div>

            <div class="details-row">
              <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.ACCOUNT_TYPE' | translate }}:</div>
              <div class="details-value">{{ bankAccount.accountType }}</div>
            </div>

      <div class="details-row">
        <div class="details-label">{{ 'BANK_ACCOUNTS.FIELDS.STATUS' | translate }}:</div>
        <div class="details-value">
          <mat-chip [color]="bankAccount.active ? 'primary' : 'warn'" selected>
            {{ bankAccount.active ? ('BANK_ACCOUNTS.FIELDS.ACTIVE' | translate) : ('BANK_ACCOUNTS.FIELDS.INACTIVE' | translate) }}
          </mat-chip>
        </div>
      </div>

      <div class="details-actions">
        <button mat-button (click)="onPrint()">
          <mat-icon>print</mat-icon>
          {{ 'BANK_ACCOUNTS.ACTIONS.PRINT' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="onEdit()">
          <mat-icon>edit</mat-icon>
          {{ 'BANK_ACCOUNTS.ACTIONS.EDIT' | translate }}
        </button>
      </div>
    </div>
  </div>
</app-card>