<app-card [showHeader]="false">
  <div class="flex align-item-center justify-content-between">
    <div class="f-16 f-w-600">Visitors</div>
    <select class="form-select-sm">
      <option>Today</option>
      <option>Weekly</option>
      <option selected>Monthly</option>
    </select>
  </div>
  <div class="m-t-15" id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [theme]="chartOptions.theme"
    ></apx-chart>
    <div class="text-center m-y-15 f-w-600">
      $30200
      <span class="text-warn-500 mat-caption f-w-500">
        <i class="ti ti-arrow-up-right"></i>
        30.6%
      </span>
    </div>
  </div>
  <div class="grid">
    <button class="b-rad-20" mat-stroked-button>View more</button>
  </div>
</app-card>
