<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="f-16">Actions Buttons</mat-card-title>
        <mat-card-subtitle class="m-b-5">Start</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="f-16">Actions Buttons</mat-card-title>
        <mat-card-subtitle class="m-b-5">End</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="f-16">Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="f-16">Shiba Inu</mat-card-title>
          <mat-card-subtitle>Medium</mat-card-subtitle>
          <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Image of a Shiba Inu" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="f-16">Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="f-16">Shiba Inu</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title class="f-16">Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very
          well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title class="f-16">Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
