<h2 mat-dialog-title>Assign Supplier</h2>
<mat-dialog-content [formGroup]="form">
  <!-- Message for paid storage units -->
  <div *ngIf="data.storageUnit.paidStorage" class="paid-storage-message">
    <mat-icon class="info-icon">info</mat-icon>
    <p>This is a paid storage unit. Monthly rental price: {{ data.storageUnit.monthlyRentalPrice | number:'1.2-2' }} TND</p>
    <p>A transaction will be created monthly for this payment.</p>
  </div>

  <mat-checkbox formControlName="hasSupplier">
    Currently assigned
  </mat-checkbox>
  <supplierList
    [formControl]="form?.controls?.supplierId"
     (selected)="onSupplierSelected($event)">
  </supplierList>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    >
    Save
  </button>
</mat-dialog-actions>
