@import '../../../../@theme/styles/theme-palette-colors.scss';

button.active {
  color: $white;
  background: var(--primary-500);
  border: 1px solid var(--primary-500);
  border-bottom: 2px solid var(--primary-500);
}

button:focus {
  outline: 0;
}
