<app-card>
  <form *ngIf="dynamicForm && !isLoading" [formGroup]="dynamicForm" class="quality-form container-fluid">
    <div class="rules-grid g-4">
      <div *ngFor="let control of dynamicForm.controls | keyvalue"
           [hidden]="control.key === 'testSensoriel' || control.key === 'classificationHuile'"
           class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">

        <div class="rule-card flex-fill">
          <!-- Affichage du nom de la règle uniquement -->
          <label [for]="control.key" class="form-label">
            {{ getRuleName(control.key) }}
          </label>

          <!-- NUMERIC -->
          <ng-container *ngIf="getRuleType(control.key) === 'NUMERIC'; else nonNumericInput">
            <input
              type="number"
              class="form-control"
              [id]="control.key"
              [formControlName]="control.key"
              placeholder="{{ 'CONTROLE_QUALITE.PLACEHOLDER.ENTER_VALUE' | translate }}"
            />
          </ng-container>

          <!-- STRING & BOOLEAN -->
          <ng-template #nonNumericInput>
            <ng-container [ngSwitch]="getRuleType(control.key)">

            <!-- STRING -->
            <mat-form-field *ngSwitchCase="'STRING'" appearance="outline" class="w-100">
              <mat-label>{{ getRuleName(control.key) }}</mat-label>
              <mat-select [formControlName]="control.key" [id]="control.key">
                <!-- Options extraites depuis ruleTextValue -->
                <mat-option *ngFor="let option of getTextOptions(control.key)" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dynamicForm.get(control.key)?.hasError('required')">
                {{ 'CONTROLE_QUALITE.ERRORS.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>

              <!-- BOOLEAN -->
              <mat-form-field *ngSwitchCase="'BOOLEAN'" appearance="outline" class="w-100">
                <mat-select [formControlName]="control.key" [id]="control.key">
                  <mat-option [value]="false">{{ 'CONTROLE_QUALITE.BOOLEAN.FALSE' | translate }}</mat-option>
                  <mat-option [value]="true">{{ 'CONTROLE_QUALITE.BOOLEAN.TRUE' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-template>

          <!-- Erreurs -->
          <div class="error-messages" *ngIf="dynamicForm.get(control.key)?.invalid && (dynamicForm.get(control.key)?.touched || submitted)">
            <small *ngIf="dynamicForm.get(control.key)?.errors?.['required']">{{ 'CONTROLE_QUALITE.ERRORS.REQUIRED' | translate }}</small>
            <small *ngIf="dynamicForm.get(control.key)?.errors?.['min']">{{ 'CONTROLE_QUALITE.ERRORS.MIN' | translate }} {{ getRuleMinValue(control.key) }}</small>
            <small *ngIf="dynamicForm.get(control.key)?.errors?.['max']">{{ 'CONTROLE_QUALITE.ERRORS.MAX' | translate }} {{ getRuleMaxValue(control.key) }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button [disabled]="dynamicForm.invalid || isLoading || isQualityControlDone"
              class="btn btn-primary"
              (click)="onSubmit()">
        {{ 'CONTROLE_QUALITE.BUTTONS.SUBMIT' | translate }}
      </button>
    </div>
  </form>
</app-card>
