$grey-dark-theme: (
  50: #1d2630,
  100: #131920,
  200: #1d2630,
  300: #3e4853,
  400: #5b6b79,
  500: #8996a4,
  600: #bec8d0,
  700: #dbe0e5,
  800: #f3f5f7,
  900: #f8f9fa,
  A100: #e4f1ff,
  A200: #b2d5fe,
  A400: #7ebaff,
  A700: #64adff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$blue-dark-theme: (
  50: #dae6ff,
  100: #176cd6,
  200: #1c76da,
  300: #90b3ff,
  400: #2281df,
  500: #4680ff,
  600: #6b99ff,
  700: #90b3ff,
  800: #b5ccff,
  900: #dae6ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cfd8ff,
  A700: #b6c4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$indigo-dark-theme: (
  50: #ede2fd,
  100: #3805e8,
  200: #4909ec,
  300: #530cee,
  400: #5e0ef0,
  500: #7123f2,
  600: #7d34f4,
  700: #9458f6,
  800: #b388f9,
  900: #d1b7fb,
  A100: #ffffff,
  A200: #e3ddff,
  A400: #b9aaff,
  A700: #a391ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$purple-dark-theme: (
  50: #ede7f6,
  100: #391890,
  200: #4a259f,
  300: #542ca7,
  400: #5f34b0,
  500: #673ab7,
  600: #7e58c2,
  700: #9575cd,
  800: #b39ddb,
  900: #d1c4e9,
  A100: #d4c7ff,
  A200: #ad94ff,
  A400: #8661ff,
  A700: #7347ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$pink-dark-theme: (
  50: #fce8f1,
  100: #d81b5c,
  200: #de286f,
  300: #e23079,
  400: #e53884,
  500: #e83e8c,
  600: #eb5b9d,
  700: #ef78af,
  800: #f49fc6,
  900: #f8c5dd,
  A100: #ffffff,
  A200: #ffdae5,
  A400: #ffa7c2,
  A700: #ff8db1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$red-dark-theme: (
  50: #f5bebe,
  100: #c50d0d,
  200: #ce1717,
  300: #d31c1c,
  400: #d82222,
  500: #dc2626,
  600: #e14747,
  700: #e76767,
  800: #ee9393,
  900: #f5bebe,
  A100: #fff1f1,
  A200: #ffbebe,
  A400: #ff8b8b,
  A700: #ff7272,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$orange-dark-theme: (
  50: #fff0e3,
  100: #fc4e06,
  200: #fc610b,
  300: #fc6b0e,
  400: #fd7612,
  500: #fd7e14,
  600: #fd9137,
  700: #fea55b,
  800: #febf8a,
  900: #fed8b9,
  A100: #ffffff,
  A200: #fff4f0,
  A400: #ffcdbd,
  A700: #ffbaa3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$yellow-dark-theme: (
  50: #fcf1e0,
  100: #d35a00,
  200: #da6d00,
  300: #de7700,
  400: #e28200,
  500: #e58a00,
  600: #e99c26,
  700: #edad4d,
  800: #f2c580,
  900: #f7dcb3,
  A100: #fffcfb,
  A200: #ffdcc8,
  A400: #ffbb95,
  A700: #ffab7b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$green-dark-theme: (
  50: #e6f5f0,
  100: #107d4f,
  200: #1b8d62,
  300: #21976c,
  400: #27a077,
  500: #2ca87f,
  600: #4cb592,
  700: #6bc2a5,
  800: #96d4bf,
  900: #c0e5d9,
  A100: #b0ffdb,
  A200: #7dffc4,
  A400: #4affac,
  A700: #30ffa1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$teal-dark-theme: (
  50: #e4f9f3,
  100: #0ba969,
  200: #13b57a,
  300: #18bc84,
  400: #1cc38f,
  500: #20c997,
  600: #41d1a7,
  700: #63d9b6,
  800: #90e4cb,
  900: #bcefe0,
  A100: #d6ffed,
  A200: #a3ffd6,
  A400: #70ffbf,
  A700: #57ffb4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$cyan-dark-theme: (
  50: #e8f9fa,
  100: #1ba9bc,
  200: #28b5c6,
  300: #30bccc,
  400: #38c3d1,
  500: #3ec9d6,
  600: #5bd1dc,
  700: #78d9e2,
  800: #9fe4eb,
  900: #c5eff3,
  A100: #f1fdff,
  A200: #bef7ff,
  A400: #8bf0ff,
  A700: #72edff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
