<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="error-card">
          <div class="error-card-content">
            <div class="error-image-block">
              <img src="assets/images/pages/img-error-404.svg" class="img-fluid" alt="img" />
            </div>
            <div class="error-text">
              <div class="m-t-50 f-38 f-w-700">Page Not Found</div>
              <div class="m-t-5 f-16 m-b-25 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                <br />
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
              <button mat-flat-button color="primary" [routerLink]="['/dashboard/default']">Back To Home</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
