.file-add-modal {
  .file-header {
    padding: 1.25rem 1.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7eaee;
  }
  .file-body {
    padding: 20px;

    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      margin-bottom: 16px;

      .input-group-text {
        display: flex;
        align-items: center;
        padding: 0.8rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--accent-800);
        text-align: center;
        white-space: nowrap;
        background-color: var(--accent-100);
        border: 1px solid var(--accent-400);
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .input-details {
        display: block;
        width: auto;
        padding: 0.8rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #131920;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--accent-50);
        background-clip: padding-box;
        border: 1px solid var(--accent-400);
        border-radius: 8px;
        transition:
          border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        position: relative;
        flex: 1 1 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .input-select {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        padding: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .input-select,
  .user-select {
    position: relative;
    display: block;
    padding: 0.8rem 2rem 0.8rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--accent-900);
    background-color: var(--accent-50);
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--accent-400);
    border-radius: 8px;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
}
