<app-card [showHeader]="false" [padding]="14">
  <div class="flex align-item-start justify-content-between m-b-15">
    <div>
      <div class="f-w-600">Transactions</div>
      <p class="m-b-0 text-muted">2-31 July 2023</p>
    </div>
    <a [matMenuTriggerFor]="menu" href="javascript:" class="avatar avatar-xs hover">
      <i class="ti ti-dots-vertical f-18 text-accent-500"></i>
    </a>
    <mat-menu #menu="matMenu">
      <a mat-menu-item>Today</a>
      <a mat-menu-item>Weekly</a>
      <a mat-menu-item>Monthly</a>
    </mat-menu>
  </div>
  <div id="chart">
    <apx-chart
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [series]="chartOptions.series"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [yaxis]="chartOptions.yaxis"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>
  <div class="flex align-items-center justify-content-between gap-2 mt-3">
    <div class="f-20 f-w-600 flex align-item-center">
      <div class="text-muted mat-small f-16 f-w-600">$</div>
      650k
    </div>
    <p class="m-b-0 text-muted mat-small">Compare to last week</p>
  </div>
</app-card>
