<div class="auth-main">
  <div class="auth-wrapper">
    <div class="auth-side-content">
      <img src="assets/huile-d-olive.jpg" alt="Olive farm" class="img-auth-side" />
    </div>
    <div class="auth-form">
      <mat-card class="auth-form-card">
        <div class="logo-container">
          <a href="#">
            <img src="assets/OOSM.svg" alt="Logo OOSM" class="logo" />
          </a>
          |
          <a href="#">
            <img src="assets/XDEV.svg" alt="Logo XDEV" class="logo" />
          </a>
        </div>
        <h2 class="text-center">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h2>
        
        <div *ngIf="successMessage" class="mat-alert mat-success" role="alert">
          {{ successMessage }}
        </div>
        
        <div *ngIf="errorMessage" class="mat-alert mat-error" role="alert">
          {{ errorMessage }}
        </div>
        
        <form [formGroup]="form" class="form-container" *ngIf="!successMessage">
          <div class="form-group">
            <label for="email" class="form-label">{{ 'FORGOT_PASSWORD.EMAIL' | translate }}</label>
            <mat-form-field appearance="outline" class="w-full">
              <input matInput formControlName="email" id="email" type="email" />
              <mat-error *ngIf="form.controls['email'].invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          
          <div class="button-container">
            <button [disabled]="loading || form.invalid" (click)="submit()" mat-flat-button color="primary" class="login-button">
              <mat-spinner *ngIf="loading" diameter="25" color="warn"></mat-spinner>
              <span *ngIf="!loading">{{ 'FORGOT_PASSWORD.SUBMIT' | translate }}</span>
            </button>
          </div>
        </form>
        
        <div class="form-options" *ngIf="!successMessage">
          <a (click)="navigateToLogin()" class="forgot-password">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
        </div>
        
        <div *ngIf="successMessage" class="form-options">
          <a (click)="navigateToLogin()" class="forgot-password">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>