@if (!item()!.hidden) {
  <li class="nav-item coded-hasmenu"
      [routerLinkActive]="['active']"
      [ngClass]="item().groupClasses">
    <a class="nav-link arrow-edge"
       (mouseenter)="navCollapse($event)"
       [routerLinkActive]="['active']">

            <mat-icon *ngIf="item().icon" class="coded-micon">{{ item().icon }}</mat-icon>

      <span class="coded-mtext">{{ item().title }}</span>
    </a>
    <ul class="coded-submenu"
        [routerLinkActive]="['active']"
        [ngClass]="item().classes!">
      @for (item of item().children; track item) {
        @if (item.type === 'item') {
          <app-menu-item [item]="item"></app-menu-item>
        } @else if (item.type === 'collapse') {
          <app-menu-collapse [item]="item"></app-menu-collapse>
        }
      }
    </ul>
  </li>
}
