<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Radios">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Radios With ngModel">
      <label id="example-radio-group-label">Pick your favorite season</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="favoriteSeason">
        @for (season of seasons; track season) {
          <mat-radio-button class="m-5" [value]="season">
            {{ season }}
          </mat-radio-button>
        }
      </mat-radio-group>
      <div>Your favorite season is: {{ favoriteSeason }}</div>
    </app-card>
  </div>
</div>
