<app-card [title]="'STORAGE.VIEW.TRANSACTION_HISTORY' | translate">
  <div class="view-container">

    <div *ngIf="loading" class="loading-container">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading && storageUnit">
      <!-- Storage Unit Card (with progress bar) -->
      <div class="storage-card">
        <div class="storage-card-header optimized-header">
          <div class="storage-title-status">
            <div class="storage-title">
              <mat-icon class="storage-icon" [ngClass]="getStatusIconClass()">{{ getStatusIcon() }}</mat-icon>
              <h2>{{ storageUnit.name }}</h2>
            </div>
            <div class="storage-status" [ngClass]="getStatusClass()">
              {{ 'STORAGE.VIEW.STATUS.' + storageUnit.status | translate }}
            </div>
          </div>
          <div class="storage-header-metrics">
            <div class="metric">
              <span class="metric-label">{{ 'STORAGE.VIEW.CURRENT_VOLUME' | translate }}</span>
              <span class="metric-value">{{ storageUnit.currentVolume }} KG</span>
            </div>
            <div class="metric">
              <span class="metric-label">{{ 'STORAGE.VIEW.MAX_CAPACITY' | translate }}</span>
              <span class="metric-value">{{ storageUnit.maxCapacity }} KG</span>
            </div>
            <div class="metric">
              <span class="metric-label">{{ 'STORAGE.VIEW.OIL_TYPE' | translate }}</span>
              <span class="metric-value">{{ storageUnit.oilType?.name || ('STORAGE.VIEW.NA' | translate) }}</span>
            </div>
          </div>
        </div>

        <div class="storage-visualization">
          <div class="storage-unit">
            <div class="storage-unit-body">
              <div class="fill-level-indicator" [style.width.%]="getFillPercentage()" [ngClass]="getFillLevelClass()">
                <div class="fill-pattern"></div>
                <span class="fill-level-text">{{ getFillPercentage() | number:'1.0-0' }}%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Insert Oil Transaction Dashboard component here -->
      </div>

      <!-- Transaction List (below storage card) -->
         <div class="transaction-header-bar">
          <div class="transaction-title">
            <osm-dashboard [config]="this.dashboardConfig" (applyAction)="handleAction($event)"></osm-dashboard>
          </div>
        </div>

     </div>
  </div>
</app-card>
