<div class="row p-t-25">
  <div class="col-lg-12">
    <app-card cardTitle="2 Column Form Layout">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Enter Full Name" />
            <mat-hint>Please enter your full name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Your Email" />
            <mat-hint>Please enter your Email id</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Your Password" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Please enter your Password</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Profile URL</mat-label>
            <input matInput placeholder="Please Enter Your Profile URL" />
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>Please enter your Profile URL</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="language-select">
        <div class="f-w-500">User Type:</div>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button checked value="1">Administrator</mat-radio-button>
          <mat-radio-button value="2">Author</mat-radio-button>
        </mat-radio-group>
        <p class="m-b-0 mat-caption">Please select user type</p>
      </div>
    </app-card>
  </div>
  <div class="col-lg-12">
    <app-card cardTitle="2 Columns Horizontal Form Layout">
      <div class="row">
        <div class="col-lg-2 p-15">
          <label class="f-w-500 text-muted">Name:</label>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 m-b-15">
            <input matInput placeholder="Enter Your Name" />
            <mat-hint>Please enter your full name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-2 p-15">
          <label class="f-w-500 text-muted">Email:</label>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 m-b-15">
            <input matInput placeholder="Enter Email" />
            <mat-hint>Please enter your Email</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 p-15">
          <label class="f-w-500 text-muted">Password:</label>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 m-b-15">
            <input matInput type="password" placeholder="Enter Your Password" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Please enter your PAssword</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-2 p-15">
          <label class="f-w-500 text-muted">Profile URL:</label>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 m-b-15">
            <input matInput placeholder="Please Enter Your Profile URL" />
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>Please enter your Profile URL</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="language-select">
        <div class="f-w-500">User Type:</div>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button checked value="1">Administrator</mat-radio-button>
          <mat-radio-button value="2">Author</mat-radio-button>
        </mat-radio-group>
        <p class="m-b-0 mat-caption">Please select user type</p>
      </div>
    </app-card>
  </div>
  <div class="col-lg-12">
    <app-card cardTitle="3 Columns Form Layout">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Enter Full Name" />
            <mat-hint>Please Enter Your Full Name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Your Email" />
            <mat-hint>Please enter your Email id</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>password</mat-label>
            <input matInput type="password" placeholder="Enter Your password" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Please Enter Your Password</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Contact</mat-label>
            <input matInput type="number" placeholder="Enter Your Contact Number " />
            <mat-hint>Please enter your contact</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Profile URL</mat-label>
            <input matInput placeholder="Please Enter Your Profile URL" />
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>Please enter your Profile URL</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Pin Code</mat-label>
            <input matInput type="password" placeholder="Enter Your pin Code" />
            <mat-hint>Please enter your Pin code</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Address</mat-label>
            <input matInput type="text" placeholder="Enter Your Address " />
            <mat-hint>Please Enter Your Address</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <div class="language-select">
            <div class="f-w-500">User Type:</div>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button checked value="1">Administrator</mat-radio-button>
              <mat-radio-button value="2">Author</mat-radio-button>
            </mat-radio-group>
            <p class="m-b-0 mat-caption">Please select user type</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-lg-12">
    <app-card cardTitle="3 Columns Horizontal Form Layout">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Enter Full Name" />
            <mat-hint>Please Enter Your Full Name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Your Email" />
            <mat-hint>Please enter your Email id</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>password</mat-label>
            <input matInput type="password" placeholder="Enter Your password" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Please Enter Your Password</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-divider class="m-b-20"></mat-divider>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Contact</mat-label>
            <input matInput type="number" placeholder="Enter Your Contact Number " />
            <mat-hint>Please enter your contact</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Profile URL</mat-label>
            <input matInput placeholder="Please Enter Your Profile URL" />
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>Please enter your Profile URL</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Pin Code</mat-label>
            <input matInput type="password" placeholder="Enter Your pin Code" />
            <mat-hint>Please enter your Pin code</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-divider class="m-b-20"></mat-divider>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 m-b-20">
            <mat-label>Address</mat-label>
            <input matInput type="text" placeholder="Enter Your Address " />
            <mat-hint>Please Enter Your Address</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <div class="language-select">
            <div class="f-w-500">User Type:</div>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button checked value="1">Administrator</mat-radio-button>
              <mat-radio-button value="2">Author</mat-radio-button>
            </mat-radio-group>
            <p class="m-b-0 mat-caption">Please select user type</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
