<ng-scrollbar style="height: calc(100vh - 88px)" visibility="hover" orientation="vertical" [dir]="direction">
  @if (showContent) {
    <app-card [showHeader]="false" cardClass="user-card" [padding]="16">
      <div class="user-card-inner flex align-item-center">
        <a [routerLink]="['/settings/profile']" class="user-card-link flex align-item-center flex-grow-1">
          <app-user-avatar size="md"></app-user-avatar>
          <div class="user-details">
            <div class="user-name f-w-600">{{ displayName || authenticationService.currentUserName }}</div>
            <div class="user-role mat-caption" *ngIf="roleLabel">{{ roleLabel }}</div>
          </div>
        </a>
        <button
          mat-icon-button
          type="button"
          class="user-menu-trigger"
          [matMenuTriggerFor]="userMenu"
          [attr.aria-label]="'AUTO.MY_ACCOUNT' | translate"
        >
          <i class="ti ti-dots-vertical"></i>
        </button>
        <mat-menu #userMenu="matMenu" class="sidebar-user-menu" [overlapTrigger]="false" yPosition="below" xPosition="after">
          <button mat-menu-item [routerLink]="['/settings/profile']">
            <i class="ti ti-user menu-item-icon"></i>
            <span>{{ 'AUTO.MY_ACCOUNT' | translate }}</span>
          </button>
          <button mat-menu-item [routerLink]="['/settings/general-config']">
            <i class="ti ti-settings menu-item-icon"></i>
            <span>{{ 'MENU.SETTINGS.GENERAL_CONFIG' | translate }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <i class="ti ti-power menu-item-icon"></i>
            <span>{{ 'ACCESS_DENIED.LOGOUT' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </app-card>
  }
  <div class="navbar-content">
    <ul class="coded-inner-navbar" (click)="$event.stopPropagation()">
      @for (item of menus(); track item) {
        @if (item.type === 'group') {
          <app-menu-group-vertical [item]="item" />
        } @else if (item.type === 'item') {
          <app-menu-item [item]="item" />
        } @else if (item.type === 'collapse') {
          <app-menu-collapse [item]="item" />
        }
      }
    </ul>
  </div>
</ng-scrollbar>
