<ng-scrollbar style="height: calc(100vh - 140px)" visibility="hover" orientation="vertical" [dir]="direction">
  @if (showContent) {
    <div class="sidebar-user-section">
      <div class="sidebar-user-section__card">
        <a [routerLink]="['/settings/profile']" class="sidebar-user-section__profile">
          <div class="sidebar-user-section__avatar-wrap">
            <app-user-avatar size="md"></app-user-avatar>
            <span class="sidebar-user-section__status" aria-hidden="true"></span>
          </div>
          <div class="sidebar-user-section__details">
            <div class="sidebar-user-section__name">{{ displayName || authenticationService.currentUserName }}</div>
            <div class="sidebar-user-section__meta">
              @if (roleLabel) {
                <span class="sidebar-user-section__role">{{ roleLabel }}</span>
              }
              @if (companyName()) {
                <span class="sidebar-user-section__tenant">{{ companyName() }}</span>
              }
            </div>
          </div>
        </a>

        <div class="sidebar-user-section__actions">
          <a
            mat-icon-button
            class="sidebar-user-section__action"
            [routerLink]="['/messages']"
            [attr.aria-label]="'CHAT.TITLE' | translate"
          >
            @if (messageUnreadCount() > 0) {
              <span class="sidebar-user-section__badge">{{ messageUnreadCount() > 99 ? '99+' : messageUnreadCount() }}</span>
            }
            <mat-icon>forum</mat-icon>
          </a>
          <a
            mat-icon-button
            class="sidebar-user-section__action"
            [routerLink]="['/notifications']"
            [attr.aria-label]="'NOTIFICATIONS.TITLE' | translate"
          >
            @if (unreadCount() > 0) {
              <span class="sidebar-user-section__badge">{{ unreadCount() > 99 ? '99+' : unreadCount() }}</span>
            }
            <mat-icon>notifications</mat-icon>
          </a>
          <button
            mat-icon-button
            type="button"
            class="sidebar-user-section__action"
            [matMenuTriggerFor]="userMenu"
            [attr.aria-label]="'AUTO.MY_ACCOUNT' | translate"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #userMenu="matMenu" class="sidebar-user-menu" [overlapTrigger]="false" yPosition="below" xPosition="after">
        <button mat-menu-item [routerLink]="['/settings/profile']">
          <mat-icon class="menu-item-icon">person</mat-icon>
          <span>{{ 'AUTO.MY_ACCOUNT' | translate }}</span>
        </button>
        <button mat-menu-item [routerLink]="['/messages']">
          <mat-icon class="menu-item-icon">forum</mat-icon>
          <span>{{ 'CHAT.TITLE' | translate }}</span>
          @if (messageUnreadCount() > 0) {
            <span class="sidebar-user-menu__count">{{ messageUnreadCount() }}</span>
          }
        </button>
        <button mat-menu-item [routerLink]="['/notifications']">
          <mat-icon class="menu-item-icon">notifications</mat-icon>
          <span>{{ 'NOTIFICATIONS.TITLE' | translate }}</span>
          @if (unreadCount() > 0) {
            <span class="sidebar-user-menu__count">{{ unreadCount() }}</span>
          }
        </button>
        <button mat-menu-item [routerLink]="['/settings/general-config']">
          <mat-icon class="menu-item-icon">settings</mat-icon>
          <span>{{ 'MENU.SETTINGS.GENERAL_CONFIG' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="sidebar-user-menu__logout" (click)="logout()">
          <mat-icon class="menu-item-icon">logout</mat-icon>
          <span>{{ 'ACCESS_DENIED.LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  }

  <div class="navbar-content">
    <ul class="coded-inner-navbar" (click)="$event.stopPropagation()">
      @for (item of menus(); track item) {
        @if (item.type === 'group') {
          <app-menu-group-vertical [item]="item" />
        } @else if (item.type === 'item') {
          <app-menu-item [item]="item" />
        } @else if (item.type === 'collapse') {
          <app-menu-collapse [item]="item" />
        }
      }
    </ul>
  </div>
</ng-scrollbar>
