<ng-scrollbar style="height: calc(100vh - 88px)" visibility="hover" orientation="vertical" [dir]="direction">
  <div class="navbar-content">
    <ul class="coded-inner-navbar" (click)="$event.stopPropagation()">
      @for (item of menus(); track item) {
        @if (item.type === 'group') {
          <app-menu-group-vertical [item]="item" />
        } @else if (item.type === 'item') {
          <app-menu-item [item]="item" />
        } @else if (item.type === 'collapse') {
          <app-menu-collapse [item]="item" />
        }
      }
    </ul>
  </div>
</ng-scrollbar>
