::ng-deep.address-dialog {
  .address-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent-300);
  }

  .address-body {
    padding: 20px;
    max-height: 65vh;
  }
}
