<div class="password-main">
  <div class="password-wrapper">
   
    <div class="auth-form">
      <mat-card class="auth-form-card">
        
        <h2 class="text-center2">Changer le mot de passe</h2>
        <div *ngIf="errorMessage" class="mat-alert mat-error" role="alert">
          {{ errorMessage }}
        </div>
        <form [formGroup]="_form" class="form-container">
          <!-- <div class="form-group">
            <label for="oldPass" class="form-label2">Ancien mot de passe</label>
            <mat-form-field appearance="outline" class="w-full">
              <input id="oldPass" matInput type="{{ hide ? 'password' : 'text' }}"
                     formControlName="oldPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="_form.get('oldPassword')?.hasError('required')">
                Champ requis.
              </mat-error>
            </mat-form-field>
          </div> -->
          <div class="form-group">
            <label for="newPass" class="form-label2">Nouveau mot de passe</label>
            <mat-form-field appearance="outline" class="w-full">
              <input id="oldPass" matInput type="{{ newHide ? 'password' : 'text' }}"
                     formControlName="newPassword">
              <button mat-icon-button matSuffix (click)="newHide = !newHide">
                <mat-icon>{{ newHide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="_form.get('newPassword')?.hasError('required')">
                Champ requis.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="conPass" class="form-label2">Confirmer mot de passe</label>
            <mat-form-field appearance="outline" class="w-full">
              <input id="conPass" matInput type="{{ conHide ? 'password' : 'text' }}"
                     formControlName="newPasswordConfirmation">
              <button mat-icon-button matSuffix (click)="conHide = !conHide">
                <mat-icon>{{ conHide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="_form.get('newPasswordConfirmation')?.hasError('required')">
                Champ requis.
              </mat-error>
              <mat-error *ngIf="_form.get('newPasswordConfirmation')?.hasError('mismatch')">
                Les mots de passe ne correspondent pas.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="button-container">
            <button [disabled]="loading || _form.invalid" (click)="onSubmit()" mat-flat-button color="primary" class="login-button">
              <mat-spinner *ngIf="loading" diameter="25" color="warn"></mat-spinner>
              <span *ngIf="!loading">Sauvgarder</span>
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #changePwdTpl>
  <h2 mat-dialog-title>Changer mot de passe</h2>
  <mat-dialog-content>
    Votre mot de passe a été modifié avec succès. Voulez-vous accéder à l'application ?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="'logout'">Non</button>
    <button mat-button color="primary" [mat-dialog-close]="'continue'">Oui</button>
  </mat-dialog-actions>
</ng-template>