.stepper-input {
  margin-left: 15px;
  padding: 0.3rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #131920;
  background-color: #ffffff;
  border: 1px solid #bec8d0;
  border-radius: 8px;
}

::ng-deep.mat-vertical-stepper-header {
  margin-bottom: 10px;
}
