<div class="row m-t-25">
  <div class="col-12">
    <app-card cardTitle="General Settings">
      <div class="row">
        <div class="col-sm-6 m-b-15">
          <label for="name" class="f-w-500">
            Username
            <span class="text-warn-500">*</span>
          </label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input type="text" matInput placeholder="Name" value="Ashoka_Tano_16" />
            <mat-hint>Your Profile URL: https://pc.com/Ashoka_Tano_16</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-6 m-b-15">
          <label for="name" class="f-w-500">
            Account Email
            <span class="text-warn-500">*</span>
          </label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input type="text" matInput placeholder="Name" value="demo@sample.com" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label for="phone" class="f-w-500">Language</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <mat-select [(ngModel)]="selectedOption">
              <mat-option value="1">India</mat-option>
              <mat-option value="2">Washington</mat-option>
              <mat-option value="3">Africa</mat-option>
              <mat-option value="3">New York</mat-option>
              <mat-option value="3">Malaysia</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label for="phone" class="f-w-500">Sign in Using</label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <mat-select [(ngModel)]="selectedPassword">
              <mat-option value="1">Password</mat-option>
              <mat-option value="2">Face Recognition</mat-option>
              <mat-option value="3">Thumb Impression</mat-option>
              <mat-option value="3">Key</mat-option>
              <mat-option value="3">Pin</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Advance Settings">
      <ul class="list-group list-group-flush">
        @for (task of advance_setting; track task) {
          <li class="list-group-item p-x-0 {{ task.space }}">
            <div class="flex align-item-center justify-content-between">
              <div>
                <div class="m-b-5">{{ task.title }}</div>
                <div class="text-muted mat-caption">{{ task.text }}</div>
              </div>
              <mat-slide-toggle color="primary" checked></mat-slide-toggle>
            </div>
          </li>
        }
      </ul>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Recognized Devices">
      <ul class="list-group list-group-flush">
        @for (task of device; track task) {
          <li class="list-group-item adv-setting {{ task.space }}">
            <div class="flex align-item-center justify-content-between">
              <div>
                <div>{{ task.title }}</div>
                <div class="text-muted mat-caption">{{ task.text }}</div>
              </div>
              <div>
                <div class="{{ task.status_type }} block-inline m-r-10">
                  <i class="fas fa-circle f-10 m-r-10"></i>
                  {{ task.status }}
                </div>
                <a href="javascript:" class="text-warn-500">
                  <i class="ti ti-circle-minus"></i>
                </a>
              </div>
            </div>
          </li>
        }
      </ul>
    </app-card>
  </div>
  <div class="col-12">
    <app-card cardTitle="Active Sessions">
      <ul class="list-group list-group-flush">
        @for (task of sessions; track task) {
          <li class="list-group-item adv-setting {{ task.space }}">
            <div class="flex align-item-center justify-content-between">
              <div class="m-r-10">
                <div class="f-16 f-w-600">{{ task.title }}</div>
                <div class="text-muted">{{ task.text }}</div>
              </div>
              <button mat-button color="warn">Logout</button>
            </div>
          </li>
        }
      </ul>
    </app-card>
  </div>
</div>
